/**
* @file dpl-tab.css
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0 
* @date 2013-04-19
*/

.dpl-tab{
	.dpl-t{
		position: relative;
		display: block;
		height: @headerHeight;
		border-bottom: 1px solid @borderColor;
	}
	.dpl-tab-ul{
		position: absolute;
		top: 0;
		height: 25px;
		overflow: hidden;
	}
	.dpl-tab-t{
		float: left;
		display: inline;
		border: 1px solid @tabBorderColor;
		border-bottom-width: 0;
		margin: 1px 4px 0 0;
		background-color: @tabBGColor;
		a:{
			&:link,&:visited,&:hover{
				float:left;
				display: inline;
				height: 18px;
				padding: 2px 13px 1px;
				margin-top: 1px;
				background-color: #f2f2f2;
				color: #5a5a5a;
				text-decoration: none;
			}
		}
	}
	.dpl-tab-current{
		border: 1px solid #a0a0a0;
		border-width: 2px 1px 0;
		margin-top: 0;
		height: 23px;
	}
	a{
		&:link,&:visited,&hover{
			padding: 3px 13px 2px;
			margin-top: 0;
			background-color: #FFF;
			color: #444;
			font-weight: bold;
		}
	}
	.dpl-d{
		overflow: hidden;
	}
}

.dpl-tab-l{
	.dpl-t{
		height: 30px;
	}
	.dpl-tab-ul{
		height: 31px;
		.dpl-tab-t{
			a{
				&:link,&:visited,&:hover{
					height: 22px;
				}
			}
		}
	}
}
