/**
* @file dpl-box.less
* @brief
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-19
*/
/* variable */
.dpl-box {
  border: 2px solid #f0f0f0;
}
.dpl-box .dpl-t {
  background-color: #f0f0f0;
  height: 28px;
  padding: 0 2px 0 14px;
}
.dpl-box .dpl-t h3 {
  line-height: 28px;
  font-size: 14px;
  font-weight: bold;
}
.dpl-box .dpl-d {
  border-top: 2px solid #f0f0f0;
  padding: 8px;
}
.dpl-box .dpl-d .dpl-detail {
  padding: 8px;
}
.dpl-box .dpl-d .dpl-line {
  border-bottom: 1px solid #f0f0f0;
}
.dpl-box-gray {
  background: #fafafa;
}
.dpl-box-gray .dpl-d {
  border-width: 0 0 1px 0;
}
.dpl-box-s .dpl-t {
  padding: 2px 8px;
}
.dpl-box-s .dpl-d {
  padding: 0;
}
.dpl-box-no-border {
  border: none;
}
.dpl-box-no-border .dpl-d {
  border: none;
}
