/**
* @file dpl-btn.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-21
*/
.dpl-btn,
.dpl-btn-action,
.dpl-btn-important,
.dpl-btn-disabled {
  display: inline-block;
  border: 1px solid #b3b3b3;
  border-bottom-color: #9a9a9a;
  padding: 3px 13px;
  color: #444444;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -ms-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -o-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: linear-gradient(top, #fcfcfc, #e4e4e4);
  border-radius: 3px;
  *padding: 0 12px;
  *height: 26px;
}
.dpl-btn-s {
  padding: 1px 9px;
  border-radius: 2px;
  *padding: 0 8px;
  *height: 22px;
  *margin-top: 1px;
}
.dpl-btn-l {
  padding: 4px 19px 5px;
  font-size: 14px;
  font-weight: bold;
  *padding: 0 18px;
  *height: 32px;
}
.dpl-btn:hover {
  color: #444444;
  text-decoration: none;
  background-color: #dbdbdb;
  background-image: -moz-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -ms-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#cfcfcf));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -o-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: linear-gradient(top, #e6e6e6, #cfcfcf);
}
.dpl-btn:active {
  color: #505050;
  text-decoration: none;
  background-color: #d5d5d5;
  background-image: -moz-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -ms-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cecece), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -o-linear-gradient(top, #cecece, #dcdcdc);
  background-image: linear-gradient(top, #cecece, #dcdcdc);
}
.dpl-btn-action {
  border: solid 1px #729ce0;
  border-bottom-color: #6688c0;
  color: #ffffff;
  background-color: #719de6;
  background-image: -moz-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -ms-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ba8f0), to(#6692dc));
  background-image: -webkit-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -o-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: linear-gradient(top, #7ba8f0, #6692dc);
}
.dpl-btn-action:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #608ad1;
  background-image: -moz-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -ms-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7199db), to(#4e7bc6));
  background-image: -webkit-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -o-linear-gradient(top, #7199db, #4e7bc6);
  background-image: linear-gradient(top, #7199db, #4e7bc6);
}
.dpl-btn-action:active {
  background-color: #6e90c9;
  background-image: -moz-linear-gradient(top, #688ac2, #7396cf);
  background-image: -ms-linear-gradient(top, #688ac2, #7396cf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#688ac2), to(#7396cf));
  background-image: -webkit-linear-gradient(top, #688ac2, #7396cf);
  background-image: -o-linear-gradient(top, #688ac2, #7396cf);
  background-image: linear-gradient(top, #688ac2, #7396cf);
}
.dpl-btn-important {
  border: solid 1px #e89f0e;
  border-bottom-color: #e89f0e;
  color: #fca000;
  font-weight: bold;
  background-color: #f7a008;
  background-image: -moz-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -ms-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcb10a), to(#f18e06));
  background-image: -webkit-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -o-linear-gradient(top, #fcb10a, #f18e06);
  background-image: linear-gradient(top, #fcb10a, #f18e06);
}
.dpl-btn-important:hover {
  color: #fca000;
  text-decoration: none;
  background-color: #ec8a04;
  background-image: -moz-linear-gradient(top, #f29b06, #e57902);
  background-image: -ms-linear-gradient(top, #f29b06, #e57902);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f29b06), to(#e57902));
  background-image: -webkit-linear-gradient(top, #f29b06, #e57902);
  background-image: -o-linear-gradient(top, #f29b06, #e57902);
  background-image: linear-gradient(top, #f29b06, #e57902);
}
.dpl-btn-important:active {
  background-color: #e28601;
  background-image: -moz-linear-gradient(top, #e07f00, #e48c02);
  background-image: -ms-linear-gradient(top, #e07f00, #e48c02);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e07f00), to(#e48c02));
  background-image: -webkit-linear-gradient(top, #e07f00, #e48c02);
  background-image: -o-linear-gradient(top, #e07f00, #e48c02);
  background-image: linear-gradient(top, #e07f00, #e48c02);
}
.dpl-btn-disabled,
.dpl-btn-disabled:hover,
.dpl-btn-disabled:active {
  border: solid 1px #dddddd;
  border-bottom-color: #d3d3d3;
  color: #c8c8c8;
  text-decoration: none;
  cursor: default;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: linear-gradient(top, #fcfcfc, #f7f7f7);
}
/* botton group*/
.dpl-btn-group {
  height: 26px;
}
.dpl-btn-group .dpl-btn {
  float: left;
  display: inline;
  border-width: 1px 1px 1px 0;
  border-radius: 0;
  *border-width: 1px;
}
.dpl-btn-group .dpl-btn-first {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}
.dpl-btn-group .dpl-btn-last {
  border-radius: 0 3px 3px 0;
}
.dpl-btn-group .dpl-btn-select {
  background-color: #d2d2d2;
  background-image: -moz-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -ms-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfdfdf), to(#c5c5c5));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -o-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: linear-gradient(top, #dfdfdf, #c5c5c5);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
a.dpl-btn,
a.dpl-btn-action,
a.dpl-btn-important,
a.dpl-btn-disabled {
  padding: 3px 13px;
  height: 18px;
}
a.dpl-btn-s {
  padding: 1px 9px;
  height: 18px;
}
a.dpl-btn-l {
  padding: 4px 19px;
  height: 22px;
}
.dpl-btn-img {
  padding: 1px 7px 1px 6px;
  *padding: 1px 6px 1px 5px;
}
a.dpl-btn-img {
  padding: 1px 7px 1px 6px;
}
.dpl-btn-notxt {
  padding: 1px 2px;
  border-radius: 0 2px 2px 0;
  *padding: 1px 0;
  *height: 22px;
  overflow: hidden;
}
a.dpl-btn-notxt {
  padding: 1px 2px;
}
.dpl-btn-img .dpl-ico-search,
.dpl-btn-action .dpl-ico-search,
.dpl-btn-notxt .dpl-ico-search {
  display: inline-block;
  background-position: -120px -20px;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  overflow: hidden;
  vertical-align: bottom;
  *vertical-align: middle;
}
.dpl-btn-action .dpl-ico-search {
  background-position: -120px 0;
}
.dpl-btn-notxt .dpl-ico-search {
  margin-right: 0;
}
