/**
* @file dpl-back.less
* @brief
* @author terence, terence@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-06
*/
/**
* @file dpl-variable.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-28
*/
/* box */
/* btn */
/* dialog */
/* path */
/* process */
/* tab */
/* text */
/* tip */
/* title */
/* common */
/* background */
.dpl-path .dpl-c .dpl-arrow,
.dpl-path-simple .dpl-c .dpl-arrow,
.dpl-dialog .dpl-t .dpl-close,
.dpl-paging .dpl-prev .dpl-ico,
.dpl-paging .dpl-next .dpl-ico,
.dpl-btn-img .dpl-ico-search,
.dpl-btn-notxt .dpl-ico-search,
.dpl-text-calendar,
.dpl-tip .dpl-tip-row-close,
.dpl-tip .dpl-ico-speaker,
.dpl-tip .dpl-ico-bubble,
.dpl-tip-block .dpl-ico-serious,
.dpl-tip-block .dpl-ico-success,
.dpl-tip-block .dpl-ico-general,
.dpl-tip-block .dpl-ico-doubt,
.dpl-tip-simple .dpl-d .dpl-ico-bulb,
.dpl-tip-inline .dpl-ico-serious,
.dpl-tip-inline .dpl-ico-success,
.dpl-tip-inline .dpl-ico-general,
.dpl-process .dpl-c-w,
.dpl-process .dpl-f-c,
.dpl-process .dpl-w-w,
.dpl-process .dpl-f-f,
.dpl-dialog .dpl-d .dpl-ico-serious,
.dpl-dialog .dpl-d .dpl-ico-success,
.dpl-dialog .dpl-d .dpl-ico-general,
.dpl-dialog .dpl-d .dpl-ico-doubt {
  background: url("http://img.china.alibaba.com/cms/upload/2012/277/204/402772_1921578814.png") no-repeat;
}
.dpl-loading .dpl-ico {
  background: url("http://img.china.alibaba.com/cms/upload/work/dpl/loading-w24.gif") no-repeat;
}
.dpl-loading-part .dpl-ico {
  background: url("http://img.china.alibaba.com/cms/upload/work/dpl/loading-w16.gif") no-repeat;
}
.dpl-lnk:link,
.dpl-lnk:visited {
  color: #369;
}
.dpl-lnk:hover {
  color: #ff7300;
}
/**
 * @overview:ͼ��
 *
 * @author: terence.wangt
 * @date: 2013-05-03
*/
.dpl-ico-ww-online,
.dpl-ico-ww-phone,
.dpl-ico-ww-off,
.dpl-ico-ww-online-s,
.dpl-ico-ww-phone-s,
.dpl-ico-ww-off-s,
a.alitalk,
.dpl-end {
  background: transparent url(http://img.china.alibaba.com/cms/upload/search/common/20120724/alitalk.gif) no-repeat 0 0;
  display: inline-block;
}
.dpl-ico-cxt39x16,
.dpl-ico-cxt16x16,
.dpl-ico-truePrice,
.dpl-ico-trueDes,
.dpl-ico-trueLocation,
.dpl-ico-payEnsure,
.dpl-ico-pay7,
.dpl-ico-payGuarantee,
.dpl-ico-goldSupplier,
.dpl-ico-alipay,
.dpl-ico-etc,
.dpl-ico-bank,
.dpl-ico-xjd,
.dpl-ico-video,
.dpl-ico-ping,
.dpl-ico-callme,
.dpl-ico-callmeSmall,
.dpl-ico-king,
.dpl-ico-price,
.dpl-ico-mixWholeSale,
.dpl-ico-tradeMedal,
.dpl-ico-processing,
.dpl-ico-brand,
.dpl-end {
  background: transparent url(http://img.china.alibaba.com/cms/upload/search/common/20130504/icon.png) no-repeat 0 0;
  display: inline-block;
}
.dpl-ico-cxt16x16,
.dpl-ico-cxt16x16:link,
.dpl-ico-cxt16x16:hover,
.dpl-ico-cxt16x16:active,
.dpl-ico-cxt16x16:visited,
.dpl-ico-truePrice,
.dpl-ico-truePrice:link,
.dpl-ico-truePrice:hover,
.dpl-ico-truePrice:active,
.dpl-ico-truePrice:visited,
.dpl-ico-payEnsure,
.dpl-ico-payEnsure:link,
.dpl-ico-payEnsure:hover,
.dpl-ico-payEnsure:active,
.dpl-ico-payEnsure:visited,
.dpl-ico-pay7,
.dpl-ico-pay7:link,
.dpl-ico-pay7:hover,
.dpl-ico-pay7:active,
.dpl-ico-pay7:visited,
.dpl-ico-trueDes,
.dpl-ico-trueDes:link,
.dpl-ico-trueDes:hover,
.dpl-ico-trueDes:active,
.dpl-ico-trueDes:visited,
.dpl-ico-alipay,
.dpl-ico-alipay:link,
.dpl-ico-alipay:hover,
.dpl-ico-alipay:active,
.dpl-ico-alipay:visited,
.dpl-ico-etc,
.dpl-ico-etc:link,
.dpl-ico-etc:hover,
.dpl-ico-etc:active,
.dpl-ico-etc:visited,
.dpl-ico-trueLocation,
.dpl-ico-trueLocation:link,
.dpl-ico-trueLocation:hover,
.dpl-ico-trueLocation:active,
.dpl-ico-trueLocation:visited,
.dpl-ico-payGuarantee,
.dpl-ico-payGuarantee:link,
.dpl-ico-payGuarantee:hover,
.dpl-ico-payGuarantee:active,
.dpl-ico-payGuarantee:visited,
.dpl-ico-goldSupplier,
.dpl-ico-goldSupplier:link,
.dpl-ico-goldSupplier:hover,
.dpl-ico-goldSupplier:active,
.dpl-ico-goldSupplier:visited,
.dpl-ico-bank,
.dpl-ico-bank:link,
.dpl-ico-bank:hover,
.dpl-ico-bank:active,
.dpl-ico-bank:visited,
.dpl-ico-video,
.dpl-ico-video:link,
.dpl-ico-video:hover,
.dpl-ico-video:active,
.dpl-ico-video:visited,
.dpl-ico-ping,
.dpl-ico-ping:link,
.dpl-ico-ping:hover,
.dpl-ico-ping:active,
.dpl-ico-ping:visited,
.dpl-ico-callmeSmall,
.dpl-ico-callmeSmall:link,
.dpl-ico-callmeSmall:hover,
.dpl-ico-callmeSmall:active,
.dpl-ico-callmeSmall:visited,
.dpl-end {
  color: #888;
  text-decoration: none;
}
.dpl-ico-ww-online,
.dpl-ico-ww-phone,
.dpl-ico-ww-off,
.dpl-ico-xjd,
.dpl-ico-callme,
.dpl-end {
  width: 72px;
  height: 18px;
}
.dpl-ico-cxt16x16 {
  height: 18px;
  padding-left: 18px;
  overflow: hidden;
  line-height: 18px;
  *line-height: 20px;
  _line-height: 18px;
  line-height: 19px\0;
}
.dpl-ico-ww-online-s,
.dpl-ico-ww-phone-s,
.dpl-ico-ww-off-s,
.dpl-ico-callmeSmall,
.dpl-end {
  width: 16px;
  height: 18px;
}
.dpl-ico-truePrice,
.dpl-ico-trueDes,
.dpl-ico-trueLocation,
.dpl-ico-payEnsure,
.dpl-ico-pay7,
.dpl-ico-payGuarantee,
.dpl-ico-goldSupplier,
.dpl-ico-alipay,
.dpl-ico-etc,
.dpl-ico-bank,
.dpl-ico-video,
.dpl-ico-ping,
.dpl-ico-price,
.dpl-end {
  height: 18px;
  padding-left: 20px;
  overflow: hidden;
  line-height: 19px;
  *line-height: 21px;
  _line-height: 19px;
  line-height: 21px\0;
}
/* ���� ͼ�� */
.dpl-ico-king {
  width: 45px;
  height: 18px;
  background-position: 0 -583px;
}
/* ���� */
.dpl-ico-ww-online {
  background-position: 0 0;
}
.dpl-ico-ww-online:hover {
  background-position: 0 -20px;
}
.dpl-ico-ww-phone {
  background-position: 0px -40px;
}
.dpl-ico-ww-phone:hover {
  background-position: 0px -60px;
}
.dpl-ico-ww-off {
  background-position: 0 -80px;
}
.dpl-ico-ww-online-s,
a.alitalk-on {
  background-position: 0 -100px;
}
.dpl-ico-ww-phone-s,
a.alitalk-mb {
  background-position: 0 -120px;
}
.dpl-ico-ww-off-s,
a.alitalk-off {
  background-position: 0 -140px;
}
/* 2013�°�����ͨ */
.dpl-ico-cxt39x16 {
  background-position: 0 -151px;
}
.dpl-ico-cxt16x16 {
  background-position: 0 -119px;
}
.dpl-ico-cxt16x16 em {
  font-weight: 700;
  color: #c00;
}
/* ��ʵ���� */
.dpl-ico-truePrice {
  background-position: 0 2px;
}
/* ��ʵ����  */
.dpl-ico-trueDes {
  background-position: 0 -258px;
}
/* ʵ����֤  */
.dpl-ico-trueLocation {
  background-position: 0 -429px;
}
/* ����� */
.dpl-ico-payEnsure {
  background-position: 0 -404px;
}
/* �����⸶ */
.dpl-ico-pay7 {
  background-position: 0 -98px;
}
/* ���Ͻ� */
.dpl-ico-payGuarantee {
  background-position: 0 -78px;
}
/* ���ƹ�Ӧ�� */
.dpl-ico-goldSupplier {
  background-position: 0 -888px;
  vertical-align: middle;
}
/* ֧���� */
.dpl-ico-alipay {
  background-position: 0 -19px;
}
/* ����֧�� */
.dpl-ico-etc {
  background-position: 0 -38px;
}
/* ���� */
.dpl-ico-bank {
  background-position: 0 -456px;
}
/* ��ҵ��Ƶ */
.dpl-ico-video {
  background-position: 0 -483px;
}
/* Ʒ����ҵ */
.dpl-ico-ping {
  background-position: 0 -533px;
}
/* ���ѵ绰�����ְ�  */
.dpl-ico-callmeSmall {
  display: none !important;
  background-position: 0 -557px;
}
.dpl-ico-callmeSmall:hover {
  background-position: 0 -508px;
}
/* ���ѵ绰�����ְ�  */
.dpl-ico-callme {
  display: none !important;
  background-position: 0 -320px;
}
.dpl-ico-callme:hover {
  background-position: 0 -339px;
}
.callme-on {
  display: inline-block !important;
}
/* ѯ�۵�*/
.dpl-ico-xjd {
  background-position: 0 -360px;
}
.dpl-ico-xjd:hover {
  background-position: 0 -383px;
}
/* �۸���ʶ */
.dpl-ico-price {
  background-position: 0 -629px;
  padding-left: 12px;
}
/*������ʶ*/
.dpl-ico-mixWholeSale {
  background-position: 0 -658px;
  height: 18px;
  vertical-align: middle;
  width: 38px;
}
/*�ӹ���ʶ*/
.dpl-ico-processing {
  background-position: 0 -812px;
  height: 15px;
  width: 45px;
  vertical-align: text-bottom;
}
/*Ʒ���̳�*/
.dpl-ico-brand {
  background-position: 0 -835px;
  height: 16px;
  width: 52px;
  vertical-align: text-bottom;
}
/*����ѫ��*/
.dpl-ico-tradeMedal {
  height: 18px;
  background-position: 0 -681px;
}
.dpl-ico-tradeMedal:hover {
  text-decoration: none;
}
.dpl-ico-tradeMedal-medalLevel1 {
  width: 16px;
}
.dpl-ico-tradeMedal-medalLevel2 {
  width: 35px;
}
.dpl-ico-tradeMedal-medalLevel3 {
  width: 54px;
}
.dpl-ico-tradeMedal-medalLevel4 {
  width: 72px;
}
.dpl-ico-tradeMedal-medalLevel5 {
  width: 90px;
}
/**
* @file dpl-btn.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-03
*/
.dpl-btn,
.dpl-btn-action,
.dpl-btn-important,
.dpl-btn-hint,
.dpl-btn-disabled {
  display: inline-block;
  border: 1px solid #b3b3b3;
  border-bottom-color: #9a9a9a;
  padding: 3px 13px;
  color: #444444;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -ms-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -o-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: linear-gradient(top, #fcfcfc, #e4e4e4);
  border-radius: 3px;
  *padding: 0 12px;
  *height: 26px;
}
.dpl-btn-s {
  padding: 1px 9px;
  border-radius: 2px;
  *padding: 0 8px;
  *height: 22px;
  *margin-top: 1px;
}
.dpl-btn-l {
  padding: 4px 19px 5px;
  font-size: 14px;
  font-weight: bold;
  *padding: 0 18px;
  *height: 32px;
}
.dpl-btn-h {
  padding: 6px 19px 5px;
  font-size: 14px;
  font-weight: bold;
  *padding: 0 18px;
  *height: 36px;
}
.dpl-btn:hover {
  color: #444444;
  text-decoration: none;
  background-color: #dbdbdb;
  background-image: -moz-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -ms-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#cfcfcf));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -o-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: linear-gradient(top, #e6e6e6, #cfcfcf);
}
.dpl-btn:active {
  color: #505050;
  text-decoration: none;
  background-color: #d5d5d5;
  background-image: -moz-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -ms-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cecece), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -o-linear-gradient(top, #cecece, #dcdcdc);
  background-image: linear-gradient(top, #cecece, #dcdcdc);
}
.dpl-btn-action {
  border: solid 1px #729ce0;
  border-bottom-color: #6688c0;
  color: #ffffff;
  background-color: #719de6;
  background-image: -moz-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -ms-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ba8f0), to(#6692dc));
  background-image: -webkit-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -o-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: linear-gradient(top, #7ba8f0, #6692dc);
}
.dpl-btn-action:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #608ad1;
  background-image: -moz-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -ms-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7199db), to(#4e7bc6));
  background-image: -webkit-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -o-linear-gradient(top, #7199db, #4e7bc6);
  background-image: linear-gradient(top, #7199db, #4e7bc6);
}
.dpl-btn-action:active {
  background-color: #6e90c9;
  background-image: -moz-linear-gradient(top, #688ac2, #7396cf);
  background-image: -ms-linear-gradient(top, #688ac2, #7396cf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#688ac2), to(#7396cf));
  background-image: -webkit-linear-gradient(top, #688ac2, #7396cf);
  background-image: -o-linear-gradient(top, #688ac2, #7396cf);
  background-image: linear-gradient(top, #688ac2, #7396cf);
}
.dpl-btn-important {
  border: solid 1px #e89f0e;
  border-bottom-color: #e89f0e;
  color: #ffffff;
  font-weight: bold;
  background-color: #f7a008;
  background-image: -moz-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -ms-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcb10a), to(#f18e06));
  background-image: -webkit-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -o-linear-gradient(top, #fcb10a, #f18e06);
  background-image: linear-gradient(top, #fcb10a, #f18e06);
}
.dpl-btn-important:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ec8a04;
  background-image: -moz-linear-gradient(top, #f29b06, #e57902);
  background-image: -ms-linear-gradient(top, #f29b06, #e57902);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f29b06), to(#e57902));
  background-image: -webkit-linear-gradient(top, #f29b06, #e57902);
  background-image: -o-linear-gradient(top, #f29b06, #e57902);
  background-image: linear-gradient(top, #f29b06, #e57902);
}
.dpl-btn-important:active {
  background-color: #e28601;
  background-image: -moz-linear-gradient(top, #e07f00, #e48c02);
  background-image: -ms-linear-gradient(top, #e07f00, #e48c02);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e07f00), to(#e48c02));
  background-image: -webkit-linear-gradient(top, #e07f00, #e48c02);
  background-image: -o-linear-gradient(top, #e07f00, #e48c02);
  background-image: linear-gradient(top, #e07f00, #e48c02);
}
.dpl-btn-hint {
  border: solid 1px #f7bf4f;
  border-bottom-color: #f7bf4f;
  color: #aa5500;
  font-weight: bold;
  background-color: #feedad;
  background-image: -moz-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -ms-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff1b7), to(#fde9a3));
  background-image: -webkit-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -o-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: linear-gradient(top, #fff1b7, #fde9a3);
}
.dpl-btn-hint:hover {
  color: #aa5500;
  text-decoration: none;
  background-color: #ffe69d;
  background-image: -moz-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -ms-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffeaa7), to(#ffe292));
  background-image: -webkit-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -o-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: linear-gradient(top, #ffeaa7, #ffe292);
}
.dpl-btn-hint:active {
  background-color: #ffe69c;
  background-image: -moz-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -ms-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe191), to(#ffeaa7));
  background-image: -webkit-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -o-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: linear-gradient(top, #ffe191, #ffeaa7);
}
.dpl-btn-disabled,
.dpl-btn-disabled:hover,
.dpl-btn-disabled:active {
  border: solid 1px #dddddd;
  border-bottom-color: #d3d3d3;
  color: #c8c8c8;
  text-decoration: none;
  cursor: default;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: linear-gradient(top, #fcfcfc, #f7f7f7);
}
/* botton group*/
.dpl-btn-group {
  height: 26px;
}
.dpl-btn-group .dpl-btn {
  float: left;
  display: inline;
  border-width: 1px 1px 1px 0;
  border-radius: 0;
  *border-width: 1px;
}
.dpl-btn-group .dpl-btn-first {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}
.dpl-btn-group .dpl-btn-last {
  border-radius: 0 3px 3px 0;
}
.dpl-btn-group .dpl-btn-select {
  background-color: #d2d2d2;
  background-image: -moz-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -ms-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfdfdf), to(#c5c5c5));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -o-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: linear-gradient(top, #dfdfdf, #c5c5c5);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
a.dpl-btn,
a.dpl-btn-action,
a.dpl-btn-important,
a.dpl-btn-hint,
a.dpl-btn-disabled {
  padding: 3px 13px;
  height: 18px;
}
a.dpl-btn-s {
  padding: 1px 9px;
  height: 18px;
}
a.dpl-btn-l {
  padding: 4px 19px;
  height: 22px;
}
a.dpl-btn-h {
  padding: 6px 19px;
  height: 22px;
}
.dpl-btn-img {
  padding: 1px 7px 1px 6px;
  *padding: 1px 6px 1px 5px;
}
a.dpl-btn-img {
  padding: 1px 7px 1px 6px;
}
.dpl-btn-notxt {
  padding: 1px 2px;
  border-radius: 0 2px 2px 0;
  *padding: 1px 0;
  *height: 22px;
  overflow: hidden;
}
a.dpl-btn-notxt {
  padding: 1px 2px;
}
.dpl-btn-img .dpl-ico-search,
.dpl-btn-action .dpl-ico-search,
.dpl-btn-notxt .dpl-ico-search {
  display: inline-block;
  background-position: -120px -20px;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  overflow: hidden;
  vertical-align: bottom;
  *vertical-align: middle;
}
.dpl-btn-action .dpl-ico-search {
  background-position: -120px 0;
}
.dpl-btn-notxt .dpl-ico-search {
  margin-right: 0;
}
/**
* @file dpl-box.less
* @brief
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-19
*/
.dpl-box {
  border: 2px solid #f0f0f0;
}
.dpl-box .dpl-t {
  background-color: #f0f0f0;
  height: 28px;
  padding: 0 2px 0 14px;
}
.dpl-box .dpl-t h3 {
  line-height: 28px;
  font-size: 14px;
  font-weight: bold;
}
.dpl-box .dpl-d {
  border-top: 2px solid #f0f0f0;
  padding: 8px;
}
.dpl-box .dpl-d .dpl-detail {
  padding: 8px;
}
.dpl-box .dpl-d .dpl-line {
  border-bottom: 1px solid #f0f0f0;
}
.dpl-box-gray {
  background: #fafafa;
}
.dpl-box-gray .dpl-d {
  border-width: 0 0 1px 0;
}
.dpl-box-s .dpl-t {
  padding: 2px 8px;
}
.dpl-box-s .dpl-d {
  padding: 0;
}
.dpl-box-no-border {
  border: none;
}
.dpl-box-no-border .dpl-d {
  border: none;
}
/**
* @file dpl-dialog.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-22
*/
.dpl-dialog {
  float: left;
  display: none;
  border: 8px solid #999999;
  border: 8px solid rgba(0, 0, 0, 0.4);
}
.dpl-dialog .dpl-t {
  height: 28px;
  padding: 2px 8px 2px 16px;
  background-color: #f0f0f0;
  cursor: move;
}
.dpl-dialog .dpl-title {
  float: left;
  display: inline;
  color: #444444;
  font-size: 14px;
  line-height: 2;
  font-weight: bold;
}
.dpl-dialog .dpl-close:link,
.dpl-dialog .dpl-close:visited {
  float: right;
  display: inline;
  margin-top: 6px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background-position: 0 -40px;
}
.dpl-dialog .dpl-close:hover {
  background-position: -20px -40px;
}
.dpl-dialog .dpl-d {
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  border-top-width: 0px;
  padding: 12px 8px 7px;
  color: #444444;
}
.dpl-dialog .dpl-d .dpl-ico-serious,
.dpl-dialog .dpl-d .dpl-ico-success,
.dpl-dialog .dpl-d .dpl-ico-general,
.dpl-dialog .dpl-d .dpl-ico-doubt {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 8px;
  overflow: hidden;
  background-position: 0 -234px;
  vertical-align: middle;
}
.dpl-dialog .dpl-d .dpl-ico-success {
  background-position: -20px -234px;
}
.dpl-dialog .dpl-d .dpl-ico-general {
  background-position: -40px -234px;
}
.dpl-dialog .dpl-d .dpl-ico-doubt {
  background-position: -60px -234px;
}
.dpl-dialog .dpl-m {
  padding: 0 4px 8px;
}
.dpl-dialog .dpl-b {
  padding: 5px 4px 0;
  border-top: solid 1px #f0f0f0;
  text-align: right;
}
.dpl-dialog-l .dpl-d {
  padding: 24px 8px 10px;
}
.dpl-dialog-l .dpl-m {
  padding: 0 16px 24px;
}
.dpl-dialog-l .dpl-b {
  padding: 12px 16px 0;
}
.dpl-dialog-simple {
  border: solid 4px #e5e5e5;
  border: solid 4px rgba(0, 0, 0, 0.1);
}
.dpl-dialog-simple .dpl-d {
  background-color: #ffffff;
  border: dialogSimplateContentBorderWidth solid 1px;
  padding: 8px 8px 4px;
  text-align: center;
  white-space: nowrap;
}
.dpl-dialog-simple .dpl-m {
  padding: 8px 12px 12px;
}
.dpl-dialog-simple .dpl-b {
  padding: 0 0 4px;
  border-width: 0;
  text-align: center;
}
/**
 * @overview:ͼ��
 *
 * @author: terence.wangt
 * @date: 2013-05-03
*/
.dpl-ico-ww-online,
.dpl-ico-ww-phone,
.dpl-ico-ww-off,
.dpl-ico-ww-online-s,
.dpl-ico-ww-phone-s,
.dpl-ico-ww-off-s,
a.alitalk,
.dpl-end {
  background: transparent url(http://img.china.alibaba.com/cms/upload/search/common/20120724/alitalk.gif) no-repeat 0 0;
  display: inline-block;
}
.dpl-ico-cxt39x16,
.dpl-ico-cxt16x16,
.dpl-ico-truePrice,
.dpl-ico-trueDes,
.dpl-ico-trueLocation,
.dpl-ico-payEnsure,
.dpl-ico-pay7,
.dpl-ico-payGuarantee,
.dpl-ico-goldSupplier,
.dpl-ico-alipay,
.dpl-ico-etc,
.dpl-ico-bank,
.dpl-ico-xjd,
.dpl-ico-video,
.dpl-ico-ping,
.dpl-ico-callme,
.dpl-ico-callmeSmall,
.dpl-ico-king,
.dpl-ico-price,
.dpl-ico-mixWholeSale,
.dpl-ico-tradeMedal,
.dpl-ico-processing,
.dpl-ico-brand,
.dpl-end {
  background: transparent url(http://img.china.alibaba.com/cms/upload/search/common/20130504/icon.png) no-repeat 0 0;
  display: inline-block;
}
.dpl-ico-cxt16x16,
.dpl-ico-cxt16x16:link,
.dpl-ico-cxt16x16:hover,
.dpl-ico-cxt16x16:active,
.dpl-ico-cxt16x16:visited,
.dpl-ico-truePrice,
.dpl-ico-truePrice:link,
.dpl-ico-truePrice:hover,
.dpl-ico-truePrice:active,
.dpl-ico-truePrice:visited,
.dpl-ico-payEnsure,
.dpl-ico-payEnsure:link,
.dpl-ico-payEnsure:hover,
.dpl-ico-payEnsure:active,
.dpl-ico-payEnsure:visited,
.dpl-ico-pay7,
.dpl-ico-pay7:link,
.dpl-ico-pay7:hover,
.dpl-ico-pay7:active,
.dpl-ico-pay7:visited,
.dpl-ico-trueDes,
.dpl-ico-trueDes:link,
.dpl-ico-trueDes:hover,
.dpl-ico-trueDes:active,
.dpl-ico-trueDes:visited,
.dpl-ico-alipay,
.dpl-ico-alipay:link,
.dpl-ico-alipay:hover,
.dpl-ico-alipay:active,
.dpl-ico-alipay:visited,
.dpl-ico-etc,
.dpl-ico-etc:link,
.dpl-ico-etc:hover,
.dpl-ico-etc:active,
.dpl-ico-etc:visited,
.dpl-ico-trueLocation,
.dpl-ico-trueLocation:link,
.dpl-ico-trueLocation:hover,
.dpl-ico-trueLocation:active,
.dpl-ico-trueLocation:visited,
.dpl-ico-payGuarantee,
.dpl-ico-payGuarantee:link,
.dpl-ico-payGuarantee:hover,
.dpl-ico-payGuarantee:active,
.dpl-ico-payGuarantee:visited,
.dpl-ico-goldSupplier,
.dpl-ico-goldSupplier:link,
.dpl-ico-goldSupplier:hover,
.dpl-ico-goldSupplier:active,
.dpl-ico-goldSupplier:visited,
.dpl-ico-bank,
.dpl-ico-bank:link,
.dpl-ico-bank:hover,
.dpl-ico-bank:active,
.dpl-ico-bank:visited,
.dpl-ico-video,
.dpl-ico-video:link,
.dpl-ico-video:hover,
.dpl-ico-video:active,
.dpl-ico-video:visited,
.dpl-ico-ping,
.dpl-ico-ping:link,
.dpl-ico-ping:hover,
.dpl-ico-ping:active,
.dpl-ico-ping:visited,
.dpl-ico-callmeSmall,
.dpl-ico-callmeSmall:link,
.dpl-ico-callmeSmall:hover,
.dpl-ico-callmeSmall:active,
.dpl-ico-callmeSmall:visited,
.dpl-end {
  color: #888;
  text-decoration: none;
}
.dpl-ico-ww-online,
.dpl-ico-ww-phone,
.dpl-ico-ww-off,
.dpl-ico-xjd,
.dpl-ico-callme,
.dpl-end {
  width: 72px;
  height: 18px;
}
.dpl-ico-cxt16x16 {
  height: 18px;
  padding-left: 18px;
  overflow: hidden;
  line-height: 18px;
  *line-height: 20px;
  _line-height: 18px;
  line-height: 19px\0;
}
.dpl-ico-ww-online-s,
.dpl-ico-ww-phone-s,
.dpl-ico-ww-off-s,
.dpl-ico-callmeSmall,
.dpl-end {
  width: 16px;
  height: 18px;
}
.dpl-ico-truePrice,
.dpl-ico-trueDes,
.dpl-ico-trueLocation,
.dpl-ico-payEnsure,
.dpl-ico-pay7,
.dpl-ico-payGuarantee,
.dpl-ico-goldSupplier,
.dpl-ico-alipay,
.dpl-ico-etc,
.dpl-ico-bank,
.dpl-ico-video,
.dpl-ico-ping,
.dpl-ico-price,
.dpl-end {
  height: 18px;
  padding-left: 20px;
  overflow: hidden;
  line-height: 19px;
  *line-height: 21px;
  _line-height: 19px;
  line-height: 21px\0;
}
/* ���� ͼ�� */
.dpl-ico-king {
  width: 45px;
  height: 18px;
  background-position: 0 -583px;
}
/* ���� */
.dpl-ico-ww-online {
  background-position: 0 0;
}
.dpl-ico-ww-online:hover {
  background-position: 0 -20px;
}
.dpl-ico-ww-phone {
  background-position: 0px -40px;
}
.dpl-ico-ww-phone:hover {
  background-position: 0px -60px;
}
.dpl-ico-ww-off {
  background-position: 0 -80px;
}
.dpl-ico-ww-online-s,
a.alitalk-on {
  background-position: 0 -100px;
}
.dpl-ico-ww-phone-s,
a.alitalk-mb {
  background-position: 0 -120px;
}
.dpl-ico-ww-off-s,
a.alitalk-off {
  background-position: 0 -140px;
}
/* 2013�°�����ͨ */
.dpl-ico-cxt39x16 {
  background-position: 0 -151px;
}
.dpl-ico-cxt16x16 {
  background-position: 0 -119px;
}
.dpl-ico-cxt16x16 em {
  font-weight: 700;
  color: #c00;
}
/* ��ʵ���� */
.dpl-ico-truePrice {
  background-position: 0 2px;
}
/* ��ʵ����  */
.dpl-ico-trueDes {
  background-position: 0 -258px;
}
/* ʵ����֤  */
.dpl-ico-trueLocation {
  background-position: 0 -429px;
}
/* ����� */
.dpl-ico-payEnsure {
  background-position: 0 -404px;
}
/* �����⸶ */
.dpl-ico-pay7 {
  background-position: 0 -98px;
}
/* ���Ͻ� */
.dpl-ico-payGuarantee {
  background-position: 0 -78px;
}
/* ���ƹ�Ӧ�� */
.dpl-ico-goldSupplier {
  background-position: 0 -888px;
  vertical-align: middle;
}
/* ֧���� */
.dpl-ico-alipay {
  background-position: 0 -19px;
}
/* ����֧�� */
.dpl-ico-etc {
  background-position: 0 -38px;
}
/* ���� */
.dpl-ico-bank {
  background-position: 0 -456px;
}
/* ��ҵ��Ƶ */
.dpl-ico-video {
  background-position: 0 -483px;
}
/* Ʒ����ҵ */
.dpl-ico-ping {
  background-position: 0 -533px;
}
/* ���ѵ绰�����ְ�  */
.dpl-ico-callmeSmall {
  display: none !important;
  background-position: 0 -557px;
}
.dpl-ico-callmeSmall:hover {
  background-position: 0 -508px;
}
/* ���ѵ绰�����ְ�  */
.dpl-ico-callme {
  display: none !important;
  background-position: 0 -320px;
}
.dpl-ico-callme:hover {
  background-position: 0 -339px;
}
.callme-on {
  display: inline-block !important;
}
/* ѯ�۵�*/
.dpl-ico-xjd {
  background-position: 0 -360px;
}
.dpl-ico-xjd:hover {
  background-position: 0 -383px;
}
/* �۸���ʶ */
.dpl-ico-price {
  background-position: 0 -629px;
  padding-left: 12px;
}
/*������ʶ*/
.dpl-ico-mixWholeSale {
  background-position: 0 -658px;
  height: 18px;
  vertical-align: middle;
  width: 38px;
}
/*�ӹ���ʶ*/
.dpl-ico-processing {
  background-position: 0 -812px;
  height: 15px;
  width: 45px;
  vertical-align: text-bottom;
}
/*Ʒ���̳�*/
.dpl-ico-brand {
  background-position: 0 -835px;
  height: 16px;
  width: 52px;
  vertical-align: text-bottom;
}
/*����ѫ��*/
.dpl-ico-tradeMedal {
  height: 18px;
  background-position: 0 -681px;
}
.dpl-ico-tradeMedal:hover {
  text-decoration: none;
}
.dpl-ico-tradeMedal-medalLevel1 {
  width: 16px;
}
.dpl-ico-tradeMedal-medalLevel2 {
  width: 35px;
}
.dpl-ico-tradeMedal-medalLevel3 {
  width: 54px;
}
.dpl-ico-tradeMedal-medalLevel4 {
  width: 72px;
}
.dpl-ico-tradeMedal-medalLevel5 {
  width: 90px;
}
/**
* @file dpl-paging.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-02
*/
.dpl-paging {
  height: 22px;
  text-align: left;
  color: #444;
}
.dpl-paging span {
  *padding-bottom: 2px;
}
.dpl-paging * {
  vertical-align: middle;
  display: inline-block;
}
.dpl-paging .dpl-page-list a:link,
.dpl-paging .dpl-page-list a:visited {
  width: 20px;
  height: 18px;
  padding: 1px 0;
  overflow: hidden;
  border: solid 1px #dcdcdc;
  margin-right: 4px;
  color: #444;
  text-decoration: none;
  text-align: center;
}
.dpl-paging .dpl-page-list a:hover {
  border-color: #5f8acf;
  color: #5f8acf;
  font-weight: bold;
}
.dpl-paging .dpl-page-list .dpl-current:link,
.dpl-paging .dpl-page-list .dpl-current:visited,
.dpl-paging .dpl-page-list .dpl-current:hover {
  border: solid 1px #5f8acf;
  background-color: #5f8acf;
  font-weight: bold;
  color: #fff;
}
.dpl-paging .dpl-page-list .dpl-omit {
  margin-right: 4px;
  padding: 2px 0;
}
.dpl-paging .dpl-page-list .dpl-prev:link .dpl-ico,
.dpl-paging .dpl-page-list .dpl-prevvisited .dpl-ico {
  float: left;
  display: inline;
  width: 20px;
  height: 18px;
  background-position: -60px -16px;
  cursor: pointer;
}
.dpl-paging .dpl-page-list .dpl-prev:hover .dpl-ico {
  background-position: -80px -16px;
}
.dpl-paging .dpl-page-list .dpl-prev-disabled:link,
.dpl-paging .dpl-page-list .dpl-prev-disabled:visited,
.dpl-paging .dpl-page-list .dpl-prev-disabled:hover {
  border-color: #dcdcdc;
  cursor: default;
}
.dpl-paging .dpl-page-list .dpl-prev-disabled:link .dpl-ico,
.dpl-paging .dpl-page-list .dpl-prev-disabled:visited .dpl-ico,
.dpl-paging .dpl-page-list .dpl-prev-disabled:hover .dpl-ico {
  background-position: -40px -16px;
  cursor: default;
}
.dpl-paging .dpl-page-list .dpl-next:link,
.dpl-paging .dpl-page-list .dpl-next:visited,
.dpl-paging .dpl-page-list .dpl-next:hover {
  width: 60px;
  font-weight: normal;
}
.dpl-paging .dpl-page-list .dpl-next:link .dpl-txt,
.dpl-paging .dpl-page-list .dpl-next:visited .dpl-txt,
.dpl-paging .dpl-page-list .dpl-next:hover .dpl-txt {
  float: left;
  display: inline;
  height: 18px;
  margin: 0 4px 0 6px;
  cursor: pointer;
}
.dpl-paging .dpl-page-list .dpl-next:link .dpl-ico,
.dpl-paging .dpl-page-list .dpl-next:visited .dpl-ico {
  float: left;
  display: inline;
  width: 8px;
  height: 10px;
  margin-top: 4px;
  background-position: -66px -40px;
  cursor: pointer;
}
.dpl-paging .dpl-page-list .dpl-next:hover {
  background-position: -86px -40px;
}
.dpl-paging .dpl-page-list .dpl-next-disabled:link,
.dpl-paging .dpl-page-list .dpl-next-disabled:visited,
.dpl-paging .dpl-page-list .dpl-next-disabled:hover {
  border-color: #dcdcdc;
  cursor: default;
}
.dpl-paging .dpl-page-list .dpl-next-disabled:link .dpl-ico,
.dpl-paging .dpl-page-list .dpl-next-disabled:visited .dpl-ico,
.dpl-paging .dpl-page-list .dpl-next-disabled:hover .dpl-ico {
  background-position: -46px -40px;
  cursor: default;
}
.dpl-paging .dpl-page-list .dpl-next-disabled:link .dpl-txt,
.dpl-paging .dpl-page-list .dpl-next-disabled:visited .dpl-txt,
.dpl-paging .dpl-page-list .dpl-next-disabled:hover .dpl-txt {
  color: #dcdcdc;
  cursor: default;
}
.dpl-paging .dpl-paging-total {
  padding: 2px 0;
  margin-right: 0;
}
.dpl-paging .dpl-number {
  margin-left: 4px;
}
.dpl-paging .dpl-number span {
  margin: 0 4px;
  padding: 2px 0;
  vertical-align: top;
  *padding: 4px 0 0;
}
.dpl-paging .dpl-number input {
  width: 32px;
}
.dpl-paging .dpl-forward {
  margin-left: 4px;
}
.dpl-paging-align-right {
  text-align: right;
}
.dpl-paging-align-center {
  text-align: center;
}
/* 解决inline-block换行问题 */.dpl-paging-r .dpl-paging-list a:link,
.dpl-paging-r .dpl-paging-list a:visited,
.dpl-paging-r .dpl-paging-list a:hover,
.dpl-paging-r .dpl-paging-list .dpl-omit {
  margin-right: 0;
}
.dpl-paging-r .dpl-paging-list .dpl-prev:link,
.dpl-paging-r .dpl-paging-list .dpl-next:link,
.dpl-paging-r .dpl-paging-list .dpl-prev:visited,
.dpl-paging-r .dpl-paging-list .dpl-next:visited,
.dpl-paging-r .dpl-paging-list .dpl-prev:hover,
.dpl-paging-r .dpl-paging-list .dpl-next:hover {
  *margin-right: 4px;
}
.dpl-paging-r .dpl-number span {
  margin: 0px;
}
.dpl-paging-r .dpl-forward {
  *margin-left: 8px;
}
/**
* @file dpl-path.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-23
*/
.dpl-path {
  height: 28px;
  border: 1px solid #c8c8c8;
  background-color: #fafafa;
  color: #444444;
}
.dpl-path .dpl-l,
.dpl-path .dpl-c,
.dpl-path .dpl-r {
  float: left;
  display: inline;
  padding: 5px 11px;
}
.dpl-path .dpl-l {
  background-color: #f0f0f0;
  border-right: 1px solid #c8c8c8;
}
.dpl-path .dpl-r {
  float: right;
}
.dpl-path .dpl-lnk:hover {
  text-decoration: none;
}
.dpl-path .dpl-c * {
  float: left;
  display: inline;
}
.dpl-path .dpl-c .dpl-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  margin: 3px 7px;
  vertical-align: middle;
}
/* path style 2 */
.dpl-path-simple {
  height: 18px;
  color: #444444;
}
.dpl-path-simple .dpl-c {
  float: left;
  display: inline;
  padding: 0 12px;
}
.dpl-path-simple .dpl-lnk:hover {
  text-decoration: none;
}
.dpl-path-simple .dpl-c * {
  float: left;
  display: inline;
}
.dpl-path-simple .dpl-c .dpl-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  margin: 3px 7px;
  vertical-align: middle;
}
/**
* @file dpl-process.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-30
*/
.dpl-process {
  height: 30px;
  color: #444444;
}
.dpl-process .dpl-finish,
.dpl-process .dpl-current,
.dpl-process .dpl-wait {
  float: left;
  display: inline;
  width: 188px;
  padding: 6px 14px;
  height: 18px;
  background-color: #e5e6e8;
  line-height: 1.5;
}
.dpl-process .dpl-current {
  border-top: solid 1px #6f8ec0;
  padding: 5px 14px 6px;
  background-color: #7f9fd1;
  color: #ffffff;
}
.dpl-process .dpl-finish {
  background-color: #cbdef6;
}
.dpl-process .dpl-c-w,
.dpl-process .dpl-f-c,
.dpl-process .dpl-w-w,
.dpl-process .dpl-f-f {
  float: left;
  display: inline;
  width: 16px;
  height: 30px;
  overflow: hidden;
  background-position: 0 -290px;
}
.dpl-process .dpl-f-c {
  background-position: -20px -290px;
}
.dpl-process .dpl-w-w {
  background-position: -40px -290px;
}
.dpl-process .dpl-f-f {
  background-position: -60px -290px;
}
/**
* @file dpl-tab.css
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0 
* @date 2013-04-19
*/
.dpl-tab .dpl-t {
  position: relative;
  display: block;
  height: 24px;
  border-bottom: 1px solid #a0a0a0;
}
.dpl-tab .dpl-tab-ul {
  position: absolute;
  top: 0;
  height: 25px;
  overflow: hidden;
}
.dpl-tab .dpl-tab-t {
  float: left;
  display: inline;
  border: 1px solid #c8c8c8;
  border-bottom-width: 0;
  margin: 1px 4px 0 0;
}
.dpl-tab .dpl-tab-t a:link,
.dpl-tab .dpl-tab-t a:visited,
.dpl-tab .dpl-tab-t a:hover {
  float: left;
  display: inline;
  height: 20px;
  line-height: 20px;
  padding: 0 13px 1px;
  margin-top: 1px;
  background-color: #f2f2f2;
  color: #5a5a5a;
  text-decoration: none;
}
.dpl-tab .dpl-tab-current {
  border: 1px solid #a0a0a0;
  border-width: 2px 1px 0;
  margin-top: 0;
  height: 24px -1;
}
.dpl-tab .dpl-tab-current a:link,
.dpl-tab .dpl-tab-current a:visited,
.dpl-tab .dpl-tab-current ahover {
  padding: 3px 13px 2px;
  margin-top: 0;
  background-color: #FFF;
  color: #444;
  font-weight: bold;
}
.dpl-tab .dpl-d {
  overflow: hidden;
}
.dpl-tab-l .dpl-t {
  height: 30px;
}
.dpl-tab-l .dpl-tab-ul {
  height: 31px;
}
.dpl-tab-l .dpl-tab-ul .dpl-tab-t a:link,
.dpl-tab-l .dpl-tab-ul .dpl-tab-t a:visited,
.dpl-tab-l .dpl-tab-ul .dpl-tab-t a:hover {
  height: 25px;
  line-height: 25px;
}
.dpl-tab-l .dpl-tab-t a:link,
.dpl-tab-l .dpl-tab-t a:visited,
.dpl-tab-l .dpl-tab-t a:hover {
  height: 25px;
  padding: 0 13px 2px;
  font-size: 14px;
}
.dpl-tab-l .dpl-tab-current {
  height: 30px -1;
}
.dpl-tab-l .dpl-tab-current a:link,
.dpl-tab-l .dpl-tab-current a:visited,
.dpl-tab-l .dpl-tab-current a:hover {
  padding: 1px 13px 3px;
}
.dpl-tab-gray .dpl-tab-current a:link,
.dpl-tab-gray .dpl-tab-current a:visited,
.dpl-tab-gray .dpl-tab-current a:hover {
  background-color: #f8f8f8;
}
.dpl-tab-gray .dpl-d {
  background-color: #f8f8f8;
}
.dpl-tab-box {
  background-color: #f0f0f0;
}
.dpl-tab-box .dpl-t {
  position: static;
  height: 28px;
  padding: 2px 4px 0 16px;
  border-width: 0;
}
.dpl-tab-box .dpl-t h3 {
  float: left;
  display: inline;
  line-height: 2;
  font-size: 14px;
  font-weight: bold;
}
.dpl-tab-box .dpl-tab-ul {
  position: static;
  float: right;
  display: inline;
  height: 28px;
}
.dpl-tab-box .dpl-tab-t {
  margin: 0 0 0 8px;
  border-width: 0;
}
.dpl-tab-box .dpl-tab-t a:link,
.dpl-tab-box .dpl-tab-t a:visited,
.dpl-tab-box .dpl-tab-t a:hover {
  background-color: #f0f0f0;
  margin-top: 0;
  padding: 5px 12px;
  color: #444444;
}
.dpl-tab-box .dpl-tab-current {
  border-width: 0;
  height: tabBoxHeaderHeight;
}
.dpl-tab-box .dpl-tab-current a:link,
.dpl-tab-box .dpl-tab-current a:visited,
.dpl-tab-box .dpl-tab-current a:hover {
  padding: 5px 12px;
  background-color: #5f8acf;
  color: #ffffff;
}
.dpl-tab-box .dpl-d {
  background-color: #fff;
}
/**
* @file dpl-text.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-22
*/
.dpl-text {
  border: solid 1px #a0a0a0;
  height: 18px;
  width: 140px;
  padding: 3px 4px;
  background-color: #ffffff;
  overflow: auto;
  vertical-align: middle;
  color: #444;
  box-shadow: inset 0 1px 1px #e6e6e6;
}
.dpl-text:focus {
  border-color: #6482b9;
  background-color: #ffffff;
  box-shadow: inset 0 1px 1px #e6e6e6,0 0 2px #a3c1f2;
}
.dpl-text-s {
  padding: 1px 2px;
  width: 126px;
  background-position: 96px -69px;
}
.dpl-text-error {
  border-color: #da7070;
  background-color: #fff5f5;
  box-shadow: inset 0 1px 1px #e5dcdc;
}
.dpl-text-calendar {
  width: 112px;
  cursor: pointer;
}
/**
* @file dpl-tip.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-23
*/
.dpl-tip {
  border: solid 1px #e7d3ac;
  background-color: #fffbdd;
  padding: 6px 8px 6px 12px;
  color: #444444;
}
.dpl-tip .dpl-ico-speaker,
.dpl-tip .dpl-ico-bubble {
  float: left;
  display: inline;
  background-position: -40px -68px;
  width: 16px;
  height: 18px;
}
.dpl-tip .dpl-ico-bubble {
  background-position: -80px -65px;
}
.dpl-tip .dpl-tip-row-close:link,
.dpl-tip .dpl-tip-row-close:visited {
  float: right;
  display: inline;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  overflow: hidden;
  background-position: 0 -20px;
}
.dpl-tip .dpl-tip-row-close:hover {
  background-position: -20px -20px;
}
.dpl-tip .dpl-tip-row-close:active {
  opacity: 0.6;
}
.dpl-tip .dpl-d {
  margin: 0 12px 0 26px;
  line-height: 1.5;
  font-size: 12px;
}
.dpl-tip .dpl-d .dpl-title {
  display: block;
  color: #f27800;
}
.dpl-tip .dpl-d .dpl-p {
  display: block;
  margin-top: 4px;
}
.dpl-tip-block {
  background-color: #e8f1f7;
  border: solid 1px #b8c9d7;
  padding: 18px 40px;
}
.dpl-tip-block .dpl-d {
  height: 54px;
  text-align: center;
}
.dpl-tip-block .dpl-d .dpl-txt {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
  text-align: left;
  padding-bottom: 0;
}
.dpl-tip-block .dpl-ico-serious,
.dpl-tip-block .dpl-ico-success,
.dpl-tip-block .dpl-ico-general,
.dpl-tip-block .dpl-ico-doubt {
  display: inline-block;
  width: 32px;
  height: 52px;
  overflow: hidden;
  background-position: 0 -104px;
  vertical-align: middle;
  padding-bottom: 0;
}
.dpl-tip-block .dpl-ico-success {
  background-position: -60px -104px;
}
.dpl-tip-block .dpl-ico-general {
  background-position: 0 -164px;
}
.dpl-tip-block .dpl-ico-doubt {
  background-position: -60px -164px;
}
.dpl-tip-block-warning {
  border: solid 1px #e7d3ac;
  background-color: #fffbdd;
}
.dpl-tip-simple {
  position: absolute;
  padding: 0;
  background-color: #fffbdd;
  border: solid 1px #e7d3ac;
  height: 68px;
  width: 230px;
  overflow: visible;
}
.dpl-tip-simple .dpl-d {
  padding: 6px;
}
.dpl-tip-simple .dpl-d .dpl-ico-bulb {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 2px 6px 2px 0;
  background-position: -100px -60px;
  vertical-align: top;
}
.dpl-tip-simple .dpl-d .dpl-txt {
  display: inline-block;
  padding: 0 4px;
  vertical-align: top;
}
.dpl-tip-simple .dpl-t-l,
.dpl-tip-simple .dpl-t-r,
.dpl-tip-simple .dpl-b-r,
.dpl-tip-simple .dpl-b-l {
  position: absolute;
  top: -7px;
  left: 22px;
  width: 14px;
  height: 7px;
  overflow: hidden;
}
.dpl-tip-simple .dpl-t-l i,
.dpl-tip-simple .dpl-t-r i,
.dpl-tip-simple .dpl-b-r i,
.dpl-tip-simple .dpl-b-l i {
  display: block;
  height: 1px;
  overflow: hidden;
  background-color: #fffbdd;
  border: solid 1px #e7d3ac;
  border-width: 0 1px;
  margin: 0 auto;
}
.dpl-tip-simple .dpl-t-r {
  left: 194px;
}
.dpl-tip-simple .dpl-t-l .dpl-a-1,
.dpl-tip-simple .dpl-t-r .dpl-a-1 {
  width: 2px;
  background-color: #e7d3ac;
  border-width: 0;
}
.dpl-tip-simple .dpl-t-l .dpl-a-2,
.dpl-tip-simple .dpl-t-r .dpl-a-2 {
  width: 2px;
}
.dpl-tip-simple .dpl-t-l .dpl-a-3,
.dpl-tip-simple .dpl-t-r .dpl-a-3 {
  width: 4px;
}
.dpl-tip-simple .dpl-t-l .dpl-a-4,
.dpl-tip-simple .dpl-t-r .dpl-a-4 {
  width: 6px;
}
.dpl-tip-simple .dpl-t-l .dpl-a-5,
.dpl-tip-simple .dpl-t-r .dpl-a-5 {
  width: 8px;
}
.dpl-tip-simple .dpl-t-l .dpl-a-6,
.dpl-tip-simple .dpl-t-r .dpl-a-6 {
  width: 10px;
}
.dpl-tip-simple .dpl-t-l .dpl-a-7,
.dpl-tip-simple .dpl-t-r .dpl-a-7 {
  width: 12px;
}
.dpl-tip-simple .dpl-b-r,
.dpl-tip-simple .dpl-b-l {
  top: 68px;
}
.dpl-tip-simple .dpl-b-r .dpl-a-7,
.dpl-tip-simple .dpl-b-l .dpl-a-7 {
  width: 2px;
  background-color: #e7d3ac;
  border-width: 0;
}
.dpl-tip-simple .dpl-b-r .dpl-a-6,
.dpl-tip-simple .dpl-b-l .dpl-a-6 {
  width: 2px;
}
.dpl-tip-simple .dpl-b-r .dpl-a-5,
.dpl-tip-simple .dpl-b-l .dpl-a-5 {
  width: 4px;
}
.dpl-tip-simple .dpl-b-r .dpl-a-4,
.dpl-tip-simple .dpl-b-l .dpl-a-4 {
  width: 6px;
}
.dpl-tip-simple .dpl-b-r .dpl-a-3,
.dpl-tip-simple .dpl-b-l .dpl-a-3 {
  width: 8px;
}
.dpl-tip-simple .dpl-b-r .dpl-a-2,
.dpl-tip-simple .dpl-b-l .dpl-a-2 {
  width: 10px;
}
.dpl-tip-simple .dpl-b-r .dpl-a-1,
.dpl-tip-simple .dpl-b-l .dpl-a-1 {
  width: 12px;
}
.dpl-tip-simple .dpl-b-r {
  left: 194px;
}
.dpl-tip-simple .dpl-r-t,
.dpl-tip-simple .dpl-r-b,
.dpl-tip-simple .dpl-l-b,
.dpl-tip-simple .dpl-l-t {
  position: absolute;
  top: 9px;
  left: 230px;
  width: 7px;
  height: 14px;
  overflow: hidden;
}
.dpl-tip-simple .dpl-r-t i,
.dpl-tip-simple .dpl-r-b i,
.dpl-tip-simple .dpl-l-b i,
.dpl-tip-simple .dpl-l-t i {
  float: left;
  display: inline;
  width: 1px;
  overflow: hidden;
  background-color: #fffbdd;
  border: solid 1px #e7d3ac;
  border-width: 1px 0;
  margin: 0;
}
.dpl-tip-simple .dpl-r-t .dpl-a-1,
.dpl-tip-simple .dpl-r-b .dpl-a-1 {
  height: 12px;
}
.dpl-tip-simple .dpl-r-t .dpl-a-2,
.dpl-tip-simple .dpl-r-b .dpl-a-2 {
  height: 10px;
  margin-top: 1px;
}
.dpl-tip-simple .dpl-r-t .dpl-a-3,
.dpl-tip-simple .dpl-r-b .dpl-a-3 {
  height: 8px;
  margin-top: 2px;
}
.dpl-tip-simple .dpl-r-t .dpl-a-4,
.dpl-tip-simple .dpl-r-b .dpl-a-4 {
  height: 6px;
  margin-top: 3px;
}
.dpl-tip-simple .dpl-r-t .dpl-a-5,
.dpl-tip-simple .dpl-r-b .dpl-a-5 {
  height: 4px;
  margin-top: 4px;
}
.dpl-tip-simple .dpl-r-t .dpl-a-6,
.dpl-tip-simple .dpl-r-b .dpl-a-6 {
  height: 2px;
  margin-top: 5px;
}
.dpl-tip-simple .dpl-r-t .dpl-a-7,
.dpl-tip-simple .dpl-r-b .dpl-a-7 {
  height: 2px;
  background-color: #e7d3ac;
  border-width: 0;
  margin-top: 6px;
}
.dpl-tip-simple .dpl-l-b,
.dpl-tip-simple .dpl-l-t {
  left: -7px;
}
.dpl-tip-simple .dpl-l-b .dpl-a-7,
.dpl-tip-simple .dpl-l-t .dpl-a-7 {
  height: 12px;
}
.dpl-tip-simple .dpl-l-b .dpl-a-6,
.dpl-tip-simple .dpl-l-t .dpl-a-6 {
  height: 10px;
  margin-top: 1px;
}
.dpl-tip-simple .dpl-l-b .dpl-a-5,
.dpl-tip-simple .dpl-l-t .dpl-a-5 {
  height: 8px;
  margin-top: 2px;
}
.dpl-tip-simple .dpl-l-b .dpl-a-4,
.dpl-tip-simple .dpl-l-t .dpl-a-4 {
  height: 6px;
  margin-top: 3px;
}
.dpl-tip-simple .dpl-l-b .dpl-a-3,
.dpl-tip-simple .dpl-l-t .dpl-a-3 {
  height: 4px;
  margin-top: 4px;
}
.dpl-tip-simple .dpl-l-b .dpl-a-2,
.dpl-tip-simple .dpl-l-t .dpl-a-2 {
  height: 2px;
  margin-top: 5px;
}
.dpl-tip-simple .dpl-l-b .dpl-a-1,
.dpl-tip-simple .dpl-l-t .dpl-a-1 {
  height: 2px;
  background-color: #e7d3ac;
  border-width: 0;
  margin-top: 6px;
}
.dpl-tip-simple .dpl-r-b,
.dpl-tip-simple .dpl-l-b {
  top: 48px;
}
.dpl-tip-inline {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  height: 18px;
  color: #444444;
  vertical-align: middle;
}
.dpl-tip-inline .dpl-ico-serious,
.dpl-tip-inline .dpl-ico-success,
.dpl-tip-inline .dpl-ico-general {
  display: inline-block;
  width: 12px;
  height: 18px;
  overflow: hidden;
  margin: 0 8px 0 0;
  background-position: -40px -112px;
  vertical-align: middle;
}
.dpl-tip-inline .dpl-ico-success {
  background-position: -100px -112px;
}
.dpl-tip-inline .dpl-ico-general {
  background-position: -40px -172px;
}
.dpl-tip-inline-warning {
  color: #e42a2a;
}
/**
* @file dpl-title.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-26
*/
.dpl-page-title {
  height: 32px;
  padding: 0 12px;
  background-color: #f3f5f7;
  margin-bottom: 12px;
}
.dpl-page-title .dpl-title {
  float: left;
  display: inline;
  line-height: 32px;
  font-size: 14px;
  color: #444;
  font-weight: bold;
}
.dpl-page-title .dpl-lnk {
  float: right;
  display: inline;
  margin-top: 7px;
}
.dpl-page-title-simple {
  background-color: transparent;
  padding: 0 12px 0 0;
  margin-bottom: 4px;
}
.dpl-page-title-simple i {
  float: left;
  display: inline;
  width: 5px;
  height: 16px;
  background-color: #4d6da1;
  overflow: hidden;
  margin: 8px 7px 0 0;
}
