/**
* @file fui-back.less
* @brief
* @author terence, terence@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-06
*/
/**
* @file dpl-variable.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-28
*/
/* box */
/* btn */
/* dialog */
/* paging */
/* path */
/* process */
/* tab */
/* text */
/* tip */
/* title */
/* common */
/* background */
.fui-path .fui-c .fui-arrow,
.fui-path-simple .fui-c .fui-arrow,
.fui-dialog .fui-t .fui-close,
.fui-btn-img .fui-ico-search,
.fui-btn-notxt .fui-ico-search,
.fui-text-calendar,
.fui-tip .fui-tip-row-close,
.fui-tip .fui-ico-speaker,
.fui-tip .fui-ico-bubble,
.fui-tip-block .fui-ico-serious,
.fui-tip-block .fui-ico-success,
.fui-tip-block .fui-ico-general,
.fui-tip-block .fui-ico-doubt,
.fui-tip-simple .fui-d .fui-ico-bulb,
.fui-tip-inline .fui-ico-serious,
.fui-tip-inline .fui-ico-success,
.fui-tip-inline .fui-ico-general,
.fui-process .fui-c-w,
.fui-process .fui-f-c,
.fui-process .fui-w-w,
.fui-process .fui-f-f,
.fui-dialog .fui-d .fui-ico-serious,
.fui-dialog .fui-d .fui-ico-success,
.fui-dialog .fui-d .fui-ico-general,
.fui-tab-bar .fui-tab-t,
.fui-dialog .fui-d .fui-ico-doubt {
  background: url("http://img.china.alibaba.com/cms/upload/search/common/20130513/sprite.png") no-repeat;
}
.fui-loading .fui-ico {
  background: url("http://img.china.alibaba.com/cms/upload/work/dpl/loading-w24.gif") no-repeat;
}
.fui-loading-part .fui-ico {
  background: url("http://img.china.alibaba.com/cms/upload/work/dpl/loading-w16.gif") no-repeat;
}
.fui-lnk:link,
.fui-lnk:visited {
  color: #369;
}
.fui-lnk:hover {
  color: #ff7300;
}
/**
* @file fui-icon.less
* @brief
* @author terence.wangt@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-07
*/
.fui-ico-ww-online,
.fui-ico-ww-phone,
.fui-ico-ww-off,
.fui-ico-ww-online-s,
.fui-ico-ww-phone-s,
.fui-ico-ww-off-s,
a.alitalk,
.fui-end {
  background: transparent url(http://img.china.alibaba.com/cms/upload/search/common/20120724/alitalk.gif) no-repeat 0 0;
  display: inline-block;
}
.fui-ico-cxt39x16,
.fui-ico-cxt16x16,
.fui-ico-truePrice,
.fui-ico-trueDes,
.fui-ico-trueLocation,
.fui-ico-payEnsure,
.fui-ico-pay7,
.fui-ico-payGuarantee,
.fui-ico-goldSupplier,
.fui-ico-alipay,
.fui-ico-etc,
.fui-ico-bank,
.fui-ico-xjd,
.fui-ico-video,
.fui-ico-ping,
.fui-ico-callme,
.fui-ico-callmeSmall,
.fui-ico-king,
.fui-ico-price,
.fui-ico-mixWholeSale,
.fui-ico-tradeMedal,
.fui-ico-processing,
.fui-ico-brand,
.fui-end {
  background: transparent url(http://img.china.alibaba.com/cms/upload/search/common/20130513/icon.png) no-repeat 0 0;
  display: inline-block;
}
.fui-ico-cxt16x16,
.fui-ico-cxt16x16:link,
.fui-ico-cxt16x16:hover,
.fui-ico-cxt16x16:active,
.fui-ico-cxt16x16:visited,
.fui-ico-truePrice,
.fui-ico-truePrice:link,
.fui-ico-truePrice:hover,
.fui-ico-truePrice:active,
.fui-ico-truePrice:visited,
.fui-ico-payEnsure,
.fui-ico-payEnsure:link,
.fui-ico-payEnsure:hover,
.fui-ico-payEnsure:active,
.fui-ico-payEnsure:visited,
.fui-ico-pay7,
.fui-ico-pay7:link,
.fui-ico-pay7:hover,
.fui-ico-pay7:active,
.fui-ico-pay7:visited,
.fui-ico-trueDes,
.fui-ico-trueDes:link,
.fui-ico-trueDes:hover,
.fui-ico-trueDes:active,
.fui-ico-trueDes:visited,
.fui-ico-alipay,
.fui-ico-alipay:link,
.fui-ico-alipay:hover,
.fui-ico-alipay:active,
.fui-ico-alipay:visited,
.fui-ico-etc,
.fui-ico-etc:link,
.fui-ico-etc:hover,
.fui-ico-etc:active,
.fui-ico-etc:visited,
.fui-ico-trueLocation,
.fui-ico-trueLocation:link,
.fui-ico-trueLocation:hover,
.fui-ico-trueLocation:active,
.fui-ico-trueLocation:visited,
.fui-ico-payGuarantee,
.fui-ico-payGuarantee:link,
.fui-ico-payGuarantee:hover,
.fui-ico-payGuarantee:active,
.fui-ico-payGuarantee:visited,
.fui-ico-goldSupplier,
.fui-ico-goldSupplier:link,
.fui-ico-goldSupplier:hover,
.fui-ico-goldSupplier:active,
.fui-ico-goldSupplier:visited,
.fui-ico-bank,
.fui-ico-bank:link,
.fui-ico-bank:hover,
.fui-ico-bank:active,
.fui-ico-bank:visited,
.fui-ico-video,
.fui-ico-video:link,
.fui-ico-video:hover,
.fui-ico-video:active,
.fui-ico-video:visited,
.fui-ico-ping,
.fui-ico-ping:link,
.fui-ico-ping:hover,
.fui-ico-ping:active,
.fui-ico-ping:visited,
.fui-ico-callmeSmall,
.fui-ico-callmeSmall:link,
.fui-ico-callmeSmall:hover,
.fui-ico-callmeSmall:active,
.fui-ico-callmeSmall:visited,
.fui-end {
  color: #888;
  text-decoration: none;
}
.fui-ico-ww-online,
.fui-ico-ww-phone,
.fui-ico-ww-off,
.fui-ico-xjd,
.fui-ico-callme,
.fui-end {
  width: 72px;
  height: 18px;
}
.fui-ico-cxt16x16 {
  height: 18px;
  padding-left: 18px;
  overflow: hidden;
  line-height: 18px;
  *line-height: 20px;
  _line-height: 18px;
  line-height: 19px\0;
}
.fui-ico-ww-online-s,
.fui-ico-ww-phone-s,
.fui-ico-ww-off-s,
.fui-ico-callmeSmall,
.fui-end {
  width: 16px;
  height: 18px;
}
.fui-ico-truePrice,
.fui-ico-trueDes,
.fui-ico-trueLocation,
.fui-ico-payEnsure,
.fui-ico-pay7,
.fui-ico-payGuarantee,
.fui-ico-goldSupplier,
.fui-ico-alipay,
.fui-ico-etc,
.fui-ico-bank,
.fui-ico-video,
.fui-ico-ping,
.fui-ico-price,
.fui-end {
  height: 18px;
  padding-left: 20px;
  overflow: hidden;
  line-height: 19px;
  *line-height: 21px;
  _line-height: 19px;
  line-height: 21px\0;
}
/* ���� ͼ�� */
.fui-ico-king {
  width: 45px;
  height: 18px;
  background-position: 0 -583px;
}
/* ���� */
.fui-ico-ww-online {
  background-position: 0 0;
}
.fui-ico-ww-online:hover {
  background-position: 0 -20px;
}
.fui-ico-ww-phone {
  background-position: 0px -40px;
}
.fui-ico-ww-phone:hover {
  background-position: 0px -60px;
}
.fui-ico-ww-off {
  background-position: 0 -80px;
}
.fui-ico-ww-online-s,
a.alitalk-on {
  background-position: 0 -100px;
}
.fui-ico-ww-phone-s,
a.alitalk-mb {
  background-position: 0 -120px;
}
.fui-ico-ww-off-s,
a.alitalk-off {
  background-position: 0 -140px;
}
/* 2013�°�����ͨ */
.fui-ico-cxt39x16 {
  background-position: 0 -151px;
}
.fui-ico-cxt16x16 {
  background-position: 0 -119px;
}
.fui-ico-cxt16x16 em {
  font-weight: 700;
  color: #c00;
}
/* ��ʵ���� */
.fui-ico-truePrice {
  background-position: 0 2px;
}
/* ��ʵ����  */
.fui-ico-trueDes {
  background-position: 0 -258px;
}
/* ʵ����֤  */
.fui-ico-trueLocation {
  background-position: 0 -429px;
}
/* ����� */
.fui-ico-payEnsure {
  background-position: 0 -404px;
}
/* �����⸶ */
.fui-ico-pay7 {
  background-position: 0 -98px;
}
/* ���Ͻ� */
.fui-ico-payGuarantee {
  background-position: 0 -78px;
}
/* ���ƹ�Ӧ�� */
.fui-ico-goldSupplier {
  background-position: 0 -888px;
  vertical-align: middle;
}
/* ֧���� */
.fui-ico-alipay {
  background-position: 0 -19px;
}
/* ����֧�� */
.fui-ico-etc {
  background-position: 0 -38px;
}
/* ���� */
.fui-ico-bank {
  background-position: 0 -456px;
}
/* ��ҵ��Ƶ */
.fui-ico-video {
  background-position: 0 -483px;
}
/* Ʒ����ҵ */
.fui-ico-ping {
  background-position: 0 -533px;
}
/* ���ѵ绰�����ְ�  */
.fui-ico-callmeSmall {
  display: none !important;
  background-position: 0 -557px;
}
.fui-ico-callmeSmall:hover {
  background-position: 0 -508px;
}
/* ���ѵ绰�����ְ�  */
.fui-ico-callme {
  display: none !important;
  background-position: 0 -320px;
}
.fui-ico-callme:hover {
  background-position: 0 -339px;
}
.callme-on {
  display: inline-block !important;
}
/* ѯ�۵�*/
.fui-ico-xjd {
  background-position: 0 -360px;
}
.fui-ico-xjd:hover {
  background-position: 0 -383px;
}
/* �۸���ʶ */
.fui-ico-price {
  background-position: 0 -629px;
  padding-left: 12px;
}
/*������ʶ*/
.fui-ico-mixWholeSale {
  background-position: 0 -658px;
  height: 18px;
  vertical-align: middle;
  width: 38px;
}
/*�ӹ���ʶ*/
.fui-ico-processing {
  background-position: 0 -812px;
  height: 15px;
  width: 45px;
  vertical-align: text-bottom;
}
/*Ʒ���̳�*/
.fui-ico-brand {
  background-position: 0 -835px;
  height: 16px;
  width: 52px;
  vertical-align: text-bottom;
}
/*����ѫ��*/
.fui-ico-tradeMedal {
  height: 18px;
  background-position: 0 -681px;
}
.fui-ico-tradeMedal:hover {
  text-decoration: none;
}
.fui-ico-tradeMedal-medalLevel1 {
  width: 16px;
}
.fui-ico-tradeMedal-medalLevel2 {
  width: 35px;
}
.fui-ico-tradeMedal-medalLevel3 {
  width: 54px;
}
.fui-ico-tradeMedal-medalLevel4 {
  width: 72px;
}
.fui-ico-tradeMedal-medalLevel5 {
  width: 90px;
}
/**
* @file fui-btn.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-03
*/
.fui-btn,
.fui-btn-action,
.fui-btn-important,
.fui-btn-hint,
.fui-btn-disabled {
  display: inline-block;
  border: 1px solid #b3b3b3;
  border-bottom-color: #9a9a9a;
  padding: 3px 13px;
  color: #444444;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -ms-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -o-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: linear-gradient(top, #fcfcfc, #e4e4e4);
  border-radius: 3px;
  *padding: 0 12px;
  *height: 26px;
}
.fui-btn-s {
  padding: 1px 9px;
  border-radius: 2px;
  *padding: 0 8px;
  *height: 22px;
  *margin-top: 1px;
}
.fui-btn-l {
  padding: 4px 19px 5px;
  font-size: 14px;
  font-weight: bold;
  *padding: 0 18px;
  *height: 32px;
}
.fui-btn-h {
  padding: 6px 19px 5px;
  font-size: 14px;
  font-weight: bold;
  *padding: 0 18px;
  *height: 36px;
}
.fui-btn:hover {
  color: #444444;
  text-decoration: none;
  background-color: #dbdbdb;
  background-image: -moz-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -ms-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#cfcfcf));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -o-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: linear-gradient(top, #e6e6e6, #cfcfcf);
}
.fui-btn:active {
  color: #505050;
  text-decoration: none;
  background-color: #d5d5d5;
  background-image: -moz-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -ms-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cecece), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -o-linear-gradient(top, #cecece, #dcdcdc);
  background-image: linear-gradient(top, #cecece, #dcdcdc);
}
.fui-btn-action {
  border: solid 1px #729ce0;
  border-bottom-color: #6688c0;
  color: #ffffff;
  background-color: #719de6;
  background-image: -moz-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -ms-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ba8f0), to(#6692dc));
  background-image: -webkit-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: -o-linear-gradient(top, #7ba8f0, #6692dc);
  background-image: linear-gradient(top, #7ba8f0, #6692dc);
}
.fui-btn-action:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #608ad1;
  background-image: -moz-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -ms-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7199db), to(#4e7bc6));
  background-image: -webkit-linear-gradient(top, #7199db, #4e7bc6);
  background-image: -o-linear-gradient(top, #7199db, #4e7bc6);
  background-image: linear-gradient(top, #7199db, #4e7bc6);
}
.fui-btn-action:active {
  background-color: #6e90c9;
  background-image: -moz-linear-gradient(top, #688ac2, #7396cf);
  background-image: -ms-linear-gradient(top, #688ac2, #7396cf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#688ac2), to(#7396cf));
  background-image: -webkit-linear-gradient(top, #688ac2, #7396cf);
  background-image: -o-linear-gradient(top, #688ac2, #7396cf);
  background-image: linear-gradient(top, #688ac2, #7396cf);
}
.fui-btn-important {
  border: solid 1px #e89f0e;
  border-bottom-color: #e89f0e;
  color: #ffffff;
  font-weight: bold;
  background-color: #f7a008;
  background-image: -moz-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -ms-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcb10a), to(#f18e06));
  background-image: -webkit-linear-gradient(top, #fcb10a, #f18e06);
  background-image: -o-linear-gradient(top, #fcb10a, #f18e06);
  background-image: linear-gradient(top, #fcb10a, #f18e06);
}
.fui-btn-important:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #ec8a04;
  background-image: -moz-linear-gradient(top, #f29b06, #e57902);
  background-image: -ms-linear-gradient(top, #f29b06, #e57902);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f29b06), to(#e57902));
  background-image: -webkit-linear-gradient(top, #f29b06, #e57902);
  background-image: -o-linear-gradient(top, #f29b06, #e57902);
  background-image: linear-gradient(top, #f29b06, #e57902);
}
.fui-btn-important:active {
  background-color: #e28601;
  background-image: -moz-linear-gradient(top, #e07f00, #e48c02);
  background-image: -ms-linear-gradient(top, #e07f00, #e48c02);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e07f00), to(#e48c02));
  background-image: -webkit-linear-gradient(top, #e07f00, #e48c02);
  background-image: -o-linear-gradient(top, #e07f00, #e48c02);
  background-image: linear-gradient(top, #e07f00, #e48c02);
}
.fui-btn-hint {
  border: solid 1px #f7bf4f;
  border-bottom-color: #f7bf4f;
  color: #aa5500;
  font-weight: bold;
  background-color: #feedad;
  background-image: -moz-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -ms-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff1b7), to(#fde9a3));
  background-image: -webkit-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -o-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: linear-gradient(top, #fff1b7, #fde9a3);
}
.fui-btn-hint:hover {
  color: #aa5500;
  text-decoration: none;
  background-color: #ffe69d;
  background-image: -moz-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -ms-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffeaa7), to(#ffe292));
  background-image: -webkit-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -o-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: linear-gradient(top, #ffeaa7, #ffe292);
}
.fui-btn-hint:active {
  background-color: #ffe69c;
  background-image: -moz-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -ms-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe191), to(#ffeaa7));
  background-image: -webkit-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -o-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: linear-gradient(top, #ffe191, #ffeaa7);
}
.fui-btn-disabled,
.fui-btn-disabled:hover,
.fui-btn-disabled:active {
  border: solid 1px #dddddd;
  border-bottom-color: #d3d3d3;
  color: #c8c8c8;
  text-decoration: none;
  cursor: default;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: linear-gradient(top, #fcfcfc, #f7f7f7);
}
/* botton group*/
.fui-btn-group {
  height: 26px;
}
.fui-btn-group .fui-btn {
  float: left;
  display: inline;
  border-width: 1px 1px 1px 0;
  border-radius: 0;
  *border-width: 1px;
}
.fui-btn-group .fui-btn-first {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}
.fui-btn-group .fui-btn-last {
  border-radius: 0 3px 3px 0;
}
.fui-btn-group .fui-btn-select {
  background-color: #d2d2d2;
  background-image: -moz-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -ms-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfdfdf), to(#c5c5c5));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -o-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: linear-gradient(top, #dfdfdf, #c5c5c5);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
a.fui-btn,
a.fui-btn-action,
a.fui-btn-important,
a.fui-btn-hint,
a.fui-btn-disabled {
  padding: 3px 13px;
  height: 18px;
}
a.fui-btn-s {
  padding: 1px 9px;
  height: 18px;
}
a.fui-btn-l {
  padding: 4px 19px;
  height: 22px;
}
a.fui-btn-h {
  padding: 6px 19px;
  height: 22px;
}
.fui-btn-img {
  padding: 1px 7px 1px 6px;
  *padding: 1px 6px 1px 5px;
}
a.fui-btn-img {
  padding: 1px 7px 1px 6px;
}
.fui-btn-notxt {
  padding: 1px 2px;
  border-radius: 0 2px 2px 0;
  *padding: 1px 0;
  *height: 22px;
  overflow: hidden;
}
a.fui-btn-notxt {
  padding: 1px 2px;
}
.fui-btn-img .fui-ico-search,
.fui-btn-action .fui-ico-search,
.fui-btn-notxt .fui-ico-search {
  display: inline-block;
  background-position: -120px -20px;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  overflow: hidden;
  vertical-align: bottom;
  *vertical-align: middle;
}
.fui-btn-action .fui-ico-search {
  background-position: -120px 0;
}
.fui-btn-notxt .fui-ico-search {
  margin-right: 0;
}
/**
* @file fui-box.less
* @brief
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-19
*/
.fui-box {
  border: 2px solid #f0f0f0;
}
.fui-box .fui-t {
  background-color: #f0f0f0;
  height: 28px;
  padding: 0 2px 0 14px;
}
.fui-box .fui-t h3 {
  line-height: 28px;
  font-size: 14px;
  font-weight: bold;
}
.fui-box .fui-d {
  border-top: 2px solid #f0f0f0;
  padding: 8px;
}
.fui-box .fui-d .fui-detail {
  padding: 8px;
}
.fui-box .fui-d .fui-line {
  border-bottom: 1px solid #f0f0f0;
}
.fui-box-gray {
  background: #fafafa;
}
.fui-box-gray .fui-d {
  border-width: 0 0 1px 0;
}
.fui-box-s .fui-t {
  padding: 2px 8px;
}
.fui-box-s .fui-d {
  padding: 0;
}
.fui-box-no-border {
  border: none;
}
.fui-box-no-border .fui-d {
  border: none;
}
/**
* @file fui-dialog.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-22
*/
.fui-dialog {
  float: left;
  display: none;
  border: 8px solid #999999;
  border: 8px solid rgba(0, 0, 0, 0.4);
}
.fui-dialog .fui-t {
  height: 28px;
  padding: 2px 8px 2px 16px;
  background-color: #f0f0f0;
  border: 0px solid #f0f0f0;
  cursor: move;
}
.fui-dialog .fui-title {
  float: left;
  display: inline;
  color: #444444;
  font-size: 14px;
  line-height: 2;
  font-weight: bold;
}
.fui-dialog .fui-close:link,
.fui-dialog .fui-close:visited {
  float: right;
  display: inline;
  margin-top: 6px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background-position: 0 -40px;
}
.fui-dialog .fui-close:hover {
  background-position: -20px -40px;
}
.fui-dialog .fui-d {
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  border-top-width: 0px;
  padding: 12px 8px 7px;
  color: #444444;
}
.fui-dialog .fui-d .fui-ico-serious,
.fui-dialog .fui-d .fui-ico-success,
.fui-dialog .fui-d .fui-ico-general,
.fui-dialog .fui-d .fui-ico-doubt {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 8px;
  overflow: hidden;
  background-position: 0 -234px;
  vertical-align: middle;
}
.fui-dialog .fui-d .fui-ico-success {
  background-position: -20px -234px;
}
.fui-dialog .fui-d .fui-ico-general {
  background-position: -40px -234px;
}
.fui-dialog .fui-d .fui-ico-doubt {
  background-position: -60px -234px;
}
.fui-dialog .fui-m {
  padding: 0 4px 8px;
}
.fui-dialog .fui-b {
  padding: 5px 4px 0;
  margin: 0px;
  border-top: solid 1px #f0f0f0;
  text-align: right;
}
.fui-dialog-l .fui-d {
  padding: 24px 8px 10px;
}
.fui-dialog-l .fui-m {
  padding: 0 16px 24px;
}
.fui-dialog-l .fui-b {
  padding: 12px 16px 0;
}
.fui-dialog-simple {
  border: solid 4px #e5e5e5;
  border: solid 4px rgba(0, 0, 0, 0.1);
}
.fui-dialog-simple .fui-d {
  background-color: #ffffff;
  border: dialogSimplateContentBorderWidth solid 1px;
  padding: 8px 8px 4px;
  text-align: center;
  white-space: nowrap;
}
.fui-dialog-simple .fui-m {
  padding: 8px 12px 12px;
}
.fui-dialog-simple .fui-b {
  padding: 0 0 4px;
  border-width: 0;
  text-align: center;
}
/**
* @file fui-paging.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-02
*/
.fui-paging {
  text-align: left;
  color: #444;
  zoom: 1;
}
.fui-paging:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}
.fui-paging span {
  *padding-bottom: 2px;
}
.fui-paging * {
  vertical-align: middle;
  display: inline-block;
}
.fui-paging .fui-page-list {
  font-size: 12px;
}
.fui-paging .fui-page-list a:link,
.fui-paging .fui-page-list a:visited {
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  border: solid 1px #dcdcdc;
  margin-right: 4px;
  color: #444444;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid #dcdcdc;
}
.fui-paging .fui-page-list a:hover {
  border-color: #5f8acf;
  color: #5f8acf;
}
.fui-paging .fui-page-list .fui-current:link,
.fui-paging .fui-page-list .fui-current:visited,
.fui-paging .fui-page-list .fui-current:hover {
  border: solid 1px #5f8acf;
  background-color: #5f8acf;
  font-weight: bold;
  color: #ffffff;
  border-right: 1px;
}
.fui-paging .fui-page-list .fui-omit {
  float: left;
  height: 20px;
  margin-right: 4px;
  padding: 2px 0;
  border-left: 0px solid #dcdcdc;
  border-right: 1px;
}
.fui-paging .fui-page-list .fui-prev:link,
.fui-paging .fui-page-list .fui-prev:visited {
  width: 48px;
  margin-right: 10px;
  border-right: 1px solid #dcdcdc;
}
.fui-paging .fui-page-list .fui-prev:link .fui-txt,
.fui-paging .fui-page-list .fui-prev:visited .fui-txt {
  float: left;
  display: inline;
  height: 18px;
  margin: 0 4px 0 6px;
  cursor: pointer;
}
.fui-paging .fui-page-list .fui-prev-disabled:link,
.fui-paging .fui-page-list .fui-prev-disabled:visited,
.fui-paging .fui-page-list .fui-prev-disabled:hover {
  border-color: #dcdcdc;
}
.fui-paging .fui-page-list .fui-prev-disabled:link .fui-txt,
.fui-paging .fui-page-list .fui-prev-disabled:visited .fui-txt,
.fui-paging .fui-page-list .fui-prev-disabled:hover .fui-txt {
  color: #dcdcdc;
  cursor: default;
}
.fui-paging .fui-page-list .fui-next:link,
.fui-paging .fui-page-list .fui-next:visited,
.fui-paging .fui-page-list .fui-next:hover {
  width: 48px;
  font-weight: normal;
  border-right: 1px solid #dcdcdc;
  margin-right: 0;
}
.fui-paging .fui-page-list .fui-next:link .fui-txt,
.fui-paging .fui-page-list .fui-next:visited .fui-txt,
.fui-paging .fui-page-list .fui-next:hover .fui-txt {
  float: left;
  display: inline;
  height: 18px;
  margin: 0 4px 0 6px;
  cursor: pointer;
}
.fui-paging .fui-page-list .fui-next-disabled:link,
.fui-paging .fui-page-list .fui-next-disabled:visited,
.fui-paging .fui-page-list .fui-next-disabled:hover {
  border-color: #dcdcdc;
  margin-right: 0;
}
.fui-paging .fui-page-list .fui-next-disabled:link .fui-txt,
.fui-paging .fui-page-list .fui-next-disabled:visited .fui-txt,
.fui-paging .fui-page-list .fui-next-disabled:hover .fui-txt {
  color: #dcdcdc;
  cursor: default;
}
.fui-paging .fui-paging-total {
  padding: 2px 0;
  margin-right: 0;
}
.fui-paging .fui-number span {
  margin: 0 4px;
  padding: 2px 0;
  vertical-align: top;
  *padding: 4px 0 0;
}
.fui-paging .fui-number input {
  width: 32px;
}
.fui-paging .fui-paging-total,
.fui-paging .fui-number,
.fui-paging .fui-forward {
  margin-left: 4px;
}
/**
* @file fui-path.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-23
*/
.fui-path {
  height: 28px;
  border: 1px solid #c8c8c8;
  background-color: #fafafa;
  color: #444444;
}
.fui-path .fui-l,
.fui-path .fui-c,
.fui-path .fui-r {
  float: left;
  display: inline;
  padding: 5px 11px;
}
.fui-path .fui-l {
  background-color: #f0f0f0;
  border-right: 1px solid #c8c8c8;
}
.fui-path .fui-r {
  float: right;
}
.fui-path .fui-lnk:hover {
  text-decoration: none;
}
.fui-path .fui-c * {
  float: left;
  display: inline;
}
.fui-path .fui-c .fui-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  margin: 3px 7px;
  vertical-align: middle;
}
/* path style 2 */
.fui-path-simple {
  height: 18px;
  color: #444444;
}
.fui-path-simple .fui-c {
  float: left;
  display: inline;
  padding: 0 12px;
}
.fui-path-simple .fui-lnk:hover {
  text-decoration: none;
}
.fui-path-simple .fui-c * {
  float: left;
  display: inline;
}
.fui-path-simple .fui-c .fui-arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  margin: 3px 7px;
  vertical-align: middle;
}
/**
* @file fui-process.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-30
*/
.fui-process {
  height: 30px;
  color: #444444;
}
.fui-process .fui-finish,
.fui-process .fui-current,
.fui-process .fui-wait {
  float: left;
  display: inline;
  width: 188px;
  padding: 6px 14px;
  height: 18px;
  background-color: #e5e6e8;
  line-height: 1.5;
}
.fui-process .fui-current {
  border-top: solid 1px #6f8ec0;
  padding: 5px 14px 6px;
  background-color: #7f9fd1;
  color: #ffffff;
}
.fui-process .fui-finish {
  background-color: #cbdef6;
}
.fui-process .fui-c-w,
.fui-process .fui-f-c,
.fui-process .fui-w-w,
.fui-process .fui-f-f {
  float: left;
  display: inline;
  width: 16px;
  height: 30px;
  overflow: hidden;
  background-position: 0 -290px;
}
.fui-process .fui-f-c {
  background-position: -20px -290px;
}
.fui-process .fui-w-w {
  background-position: -40px -290px;
}
.fui-process .fui-f-f {
  background-position: -60px -290px;
}
/**
* @file fui-tab.css
* @brief 
* @author terence.wangt@alibaba-inc.com
* @version 1.0.0 
* @date 2013-05-13
*/
.fui-tab .fui-t {
  position: relative;
  display: block;
  height: 24px;
  border-bottom: 1px solid #a0a0a0;
}
.fui-tab .fui-tab-ul {
  position: absolute;
  top: 0;
  height: 25px;
  overflow: hidden;
  border-left: 0px solid #d9d9d9;
}
.fui-tab .fui-tab-t {
  float: left;
  display: inline;
  border: 1px solid #c8c8c8;
  border-bottom-width: 0;
  border-left-width: 1px;
  margin: 0px 4px 0 0;
  margin-right: 4px;
}
.fui-tab .fui-tab-t a:link,
.fui-tab .fui-tab-t a:visited,
.fui-tab .fui-tab-t a:hover {
  float: left;
  display: inline;
  height: 20px;
  line-height: 20px;
  padding: 0 13px 1px;
  margin-top: 1px;
  background-color: #f2f2f2;
  color: #5a5a5a;
  text-decoration: none;
}
.fui-tab .fui-tab-current {
  border: 1px solid #a0a0a0;
  border-width: 2px 1px 0;
  margin-top: 0;
  height: 23px;
}
.fui-tab .fui-tab-current a:link,
.fui-tab .fui-tab-current a:visited,
.fui-tab .fui-tab-current ahover {
  padding: 3px 13px 2px;
  margin-top: 0;
  background-color: #FFF;
  color: #444;
  font-weight: bold;
}
.fui-tab .fui-d {
  overflow: hidden;
}
.fui-tab-l .fui-t {
  height: 29px;
}
.fui-tab-l .fui-tab-ul {
  height: 30px;
}
.fui-tab-l .fui-tab-ul .fui-tab-t a:link,
.fui-tab-l .fui-tab-ul .fui-tab-t a:visited,
.fui-tab-l .fui-tab-ul .fui-tab-t a:hover {
  height: 25px;
  line-height: 25px;
}
.fui-tab-l .fui-tab-t a:link,
.fui-tab-l .fui-tab-t a:visited,
.fui-tab-l .fui-tab-t a:hover {
  height: 25px;
  padding: 0 13px 2px;
  font-size: 14px;
}
.fui-tab-l .fui-tab-current {
  height: 29px;
}
.fui-tab-l .fui-tab-current a:link,
.fui-tab-l .fui-tab-current a:visited,
.fui-tab-l .fui-tab-current a:hover {
  padding: 1px 13px 3px;
}
.fui-tab-gray .fui-tab-current a:link,
.fui-tab-gray .fui-tab-current a:visited,
.fui-tab-gray .fui-tab-current a:hover {
  background-color: #f8f8f8;
}
.fui-tab-gray .fui-d {
  background-color: #f8f8f8;
}
.fui-tab-pink .fui-tab-t {
  border: 1px solid #D9B9AA;
  border-bottom-width: 0;
  border-left-width: 1px;
}
.fui-tab-pink .fui-tab-t a:link,
.fui-tab-pink .fui-tab-t a:visited,
.fui-tab-pink .fui-tab-t a:hover {
  background-color: #FBF3EE;
}
.fui-tab-pink .fui-tab-current {
  border: 1px solid #A04B23;
}
.fui-tab-pink .fui-tab-current a:link,
.fui-tab-pink .fui-tab-current a:visited,
.fui-tab-pink .fui-tab-current ahover {
  background-color: #FFF;
  color: #444;
}
.fui-tab-pink .fui-tab-ul {
  border-left: 0px solid #d9b9aa;
}
.fui-tab-pink .fui-t {
  border-bottom: 1px solid #A04B23;
}
.fui-tab-box {
  background-color: #f0f0f0;
}
.fui-tab-box .fui-t {
  position: static;
  height: 28px;
  padding: 2px 4px 0 16px;
  border-width: 0;
}
.fui-tab-box .fui-t h3 {
  float: left;
  display: inline;
  line-height: 2;
  font-size: 14px;
  font-weight: bold;
}
.fui-tab-box .fui-tab-ul {
  position: static;
  float: right;
  display: inline;
  height: 28px;
}
.fui-tab-box .fui-tab-t {
  margin: 0 0 0 8px;
  border-width: 0;
}
.fui-tab-box .fui-tab-t a:link,
.fui-tab-box .fui-tab-t a:visited,
.fui-tab-box .fui-tab-t a:hover {
  background-color: #f0f0f0;
  margin-top: 0;
  padding: 5px 12px;
  color: #444444;
}
.fui-tab-box .fui-tab-current {
  border-width: 0;
  height: tabBoxHeaderHeight;
}
.fui-tab-box .fui-tab-current a:link,
.fui-tab-box .fui-tab-current a:visited,
.fui-tab-box .fui-tab-current a:hover {
  padding: 5px 12px;
  background-color: #5f8acf;
  color: #ffffff;
}
.fui-tab-box .fui-d {
  background-color: #fff;
}
.fui-tab-bar .fui-t {
  background-color: #f0f0f0;
}
.fui-tab-bar .fui-tab-t {
  border: none;
  margin-left: -1px;
  background-position: right -206px;
}
.fui-tab-bar .fui-tab-t a:link,
.fui-tab-bar .fui-tab-t a:visited,
.fui-tab-bar .fui-tab-t a:hover {
  font-size: 12px;
  background-color: transparent;
}
.fui-tab-bar .fui-tab-t a:hover {
  text-decoration: underline;
}
.fui-tab-bar .fui-tab-ul {
  border-left: none;
  overflow: visible;
}
.fui-tab-bar .fui-tab-current {
  border: 1px solid #ccc;
  border-top: 2px solid #666;
  border-bottom-width: 0;
  margin-top: -1px;
  background-color: #fff;
  background-position: -9999px -9999px;
}
.fui-bar-pink .fui-t {
  background-color: #fbf3ee;
  border-bottom: 1px solid #D9B9AA;
}
.fui-bar-pink .fui-tab-t {
  background-position: right -258px;
}
.fui-bar-pink .fui-tab-ul {
  border-left: none;
  overflow: visible;
}
.fui-bar-pink .fui-tab-current {
  border: 1px solid #D9B9AA;
  border-top: 2px solid #A04B23;
  border-bottom-width: 0;
  margin-top: -1px;
  background-color: #fff;
  background-position: -9999px -9999px;
}
/**
* @file fui-text.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-22
*/
.fui-text {
  border: solid 1px #a0a0a0;
  height: 18px;
  width: 140px;
  padding: 3px 4px;
  background-color: #ffffff;
  background-position: 98px -67px;
  overflow: auto;
  vertical-align: middle;
  color: #444;
  box-shadow: inset 0 1px 1px #e6e6e6;
}
.fui-text:focus {
  border-color: #6482b9;
  background-color: #ffffff;
  box-shadow: 0 0 1px #a3c1f2;
}
.fui-text-s {
  padding: 1px 2px;
  width: 126px;
  background-position: 96px -69px;
}
.fui-text-error {
  border-color: #da7070;
  background-color: #fff5f5;
  box-shadow: 0px 0px 1px #e5dcdc;
}
.fui-text-calendar {
  width: 112px;
  cursor: pointer;
}
/**
* @file fui-tip.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-23
*/
.fui-tip {
  border: solid 1px #e7d3ac;
  background-color: #fffbdd;
  padding: 6px 8px 6px 12px;
  color: #444444;
}
.fui-tip .fui-ico-speaker,
.fui-tip .fui-ico-bubble {
  float: left;
  display: inline;
  background-position: -40px -68px;
  width: 16px;
  height: 18px;
}
.fui-tip .fui-ico-bubble {
  background-position: -80px -65px;
}
.fui-tip .fui-tip-row-close {
  margin-right: 0px;
}
.fui-tip .fui-tip-row-close:link,
.fui-tip .fui-tip-row-close:visited {
  float: right;
  display: inline;
  width: 12px;
  height: 12px;
  margin-top: 3px;
  overflow: hidden;
  background-position: 0 -20px;
}
.fui-tip .fui-tip-row-close:hover {
  background-position: -20px -20px;
}
.fui-tip .fui-tip-row-close:active {
  opacity: 0.6;
}
.fui-tip .fui-d {
  margin: 0 12px 0 26px;
  line-height: 1.5;
  font-size: 12px;
}
.fui-tip .fui-d .fui-title {
  display: block;
  color: #f27800;
}
.fui-tip .fui-d .fui-p {
  display: block;
  margin-top: 4px;
}
.fui-tip-block {
  background-color: #e8f1f7;
  border: solid 1px #b8c9d7;
  padding: 18px 40px;
}
.fui-tip-block .fui-d {
  height: 54px;
  text-align: center;
}
.fui-tip-block .fui-d .fui-txt {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
  text-align: left;
  padding-bottom: 0;
}
.fui-tip-block .fui-ico-serious,
.fui-tip-block .fui-ico-success,
.fui-tip-block .fui-ico-general,
.fui-tip-block .fui-ico-doubt {
  display: inline-block;
  width: 32px;
  height: 52px;
  overflow: hidden;
  background-position: 0 -104px;
  vertical-align: middle;
  padding-bottom: 0;
}
.fui-tip-block .fui-ico-success {
  background-position: -60px -104px;
}
.fui-tip-block .fui-ico-general {
  background-position: 0 -164px;
}
.fui-tip-block .fui-ico-doubt {
  background-position: -60px -164px;
}
.fui-tip-block-warning {
  border: solid 1px #e7d3ac;
  background-color: #fffbdd;
}
.fui-tip-simple {
  position: absolute;
  padding: 0;
  background-color: #fffbdd;
  border: solid 1px #e7d3ac;
  height: 68px;
  width: 230px;
  overflow: visible;
}
.fui-tip-simple .fui-d {
  padding: 6px;
}
.fui-tip-simple .fui-d .fui-ico-bulb {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin: 2px 6px 2px 0;
  background-position: -100px -60px;
  vertical-align: top;
}
.fui-tip-simple .fui-d .fui-txt {
  display: inline-block;
  padding: 0 4px;
  vertical-align: top;
}
.fui-tip-simple .fui-t-l,
.fui-tip-simple .fui-t-r,
.fui-tip-simple .fui-b-r,
.fui-tip-simple .fui-b-l {
  position: absolute;
  top: -7px;
  left: 24px;
  width: 14px;
  height: 7px;
  overflow: hidden;
}
.fui-tip-simple .fui-t-l i,
.fui-tip-simple .fui-t-r i,
.fui-tip-simple .fui-b-r i,
.fui-tip-simple .fui-b-l i {
  display: block;
  height: 1px;
  overflow: hidden;
  background-color: #fffbdd;
  border: solid 1px #e7d3ac;
  border-width: 0 1px;
  margin: 0 auto;
}
.fui-tip-simple .fui-t-r,
.fui-tip-simple .fui-b-r {
  left: auto;
  right: 24px;
}
.fui-tip-simple .fui-t-l .fui-a-1,
.fui-tip-simple .fui-t-r .fui-a-1 {
  width: 2px;
  background-color: #e7d3ac;
  border-width: 0;
}
.fui-tip-simple .fui-t-l .fui-a-2,
.fui-tip-simple .fui-t-r .fui-a-2 {
  width: 2px;
}
.fui-tip-simple .fui-t-l .fui-a-3,
.fui-tip-simple .fui-t-r .fui-a-3 {
  width: 4px;
}
.fui-tip-simple .fui-t-l .fui-a-4,
.fui-tip-simple .fui-t-r .fui-a-4 {
  width: 6px;
}
.fui-tip-simple .fui-t-l .fui-a-5,
.fui-tip-simple .fui-t-r .fui-a-5 {
  width: 8px;
}
.fui-tip-simple .fui-t-l .fui-a-6,
.fui-tip-simple .fui-t-r .fui-a-6 {
  width: 10px;
}
.fui-tip-simple .fui-t-l .fui-a-7,
.fui-tip-simple .fui-t-r .fui-a-7 {
  width: 12px;
}
.fui-tip-simple .fui-b-r,
.fui-tip-simple .fui-b-l {
  top: auto;
  bottom: -7px;
}
.fui-tip-simple .fui-b-r .fui-a-7,
.fui-tip-simple .fui-b-l .fui-a-7 {
  width: 2px;
  background-color: #e7d3ac;
  border-width: 0;
}
.fui-tip-simple .fui-b-r .fui-a-6,
.fui-tip-simple .fui-b-l .fui-a-6 {
  width: 2px;
}
.fui-tip-simple .fui-b-r .fui-a-5,
.fui-tip-simple .fui-b-l .fui-a-5 {
  width: 4px;
}
.fui-tip-simple .fui-b-r .fui-a-4,
.fui-tip-simple .fui-b-l .fui-a-4 {
  width: 6px;
}
.fui-tip-simple .fui-b-r .fui-a-3,
.fui-tip-simple .fui-b-l .fui-a-3 {
  width: 8px;
}
.fui-tip-simple .fui-b-r .fui-a-2,
.fui-tip-simple .fui-b-l .fui-a-2 {
  width: 10px;
}
.fui-tip-simple .fui-b-r .fui-a-1,
.fui-tip-simple .fui-b-l .fui-a-1 {
  width: 12px;
}
.fui-tip-simple .fui-r-t,
.fui-tip-simple .fui-r-b,
.fui-tip-simple .fui-l-b,
.fui-tip-simple .fui-l-t {
  position: absolute;
  top: 8px;
  left: 230px;
  width: 7px;
  height: 14px;
  overflow: hidden;
}
.fui-tip-simple .fui-r-t i,
.fui-tip-simple .fui-r-b i,
.fui-tip-simple .fui-l-b i,
.fui-tip-simple .fui-l-t i {
  float: left;
  display: inline;
  width: 1px;
  overflow: hidden;
  background-color: #fffbdd;
  border: solid 1px #e7d3ac;
  border-width: 1px 0;
  margin: 0;
}
.fui-tip-simple .fui-r-t,
.fui-tip-simple .fui-r-b {
  left: auto;
  right: -7px;
}
.fui-tip-simple .fui-r-t .fui-a-1,
.fui-tip-simple .fui-r-b .fui-a-1 {
  height: 12px;
}
.fui-tip-simple .fui-r-t .fui-a-2,
.fui-tip-simple .fui-r-b .fui-a-2 {
  height: 10px;
  margin-top: 1px;
}
.fui-tip-simple .fui-r-t .fui-a-3,
.fui-tip-simple .fui-r-b .fui-a-3 {
  height: 8px;
  margin-top: 2px;
}
.fui-tip-simple .fui-r-t .fui-a-4,
.fui-tip-simple .fui-r-b .fui-a-4 {
  height: 6px;
  margin-top: 3px;
}
.fui-tip-simple .fui-r-t .fui-a-5,
.fui-tip-simple .fui-r-b .fui-a-5 {
  height: 4px;
  margin-top: 4px;
}
.fui-tip-simple .fui-r-t .fui-a-6,
.fui-tip-simple .fui-r-b .fui-a-6 {
  height: 2px;
  margin-top: 5px;
}
.fui-tip-simple .fui-r-t .fui-a-7,
.fui-tip-simple .fui-r-b .fui-a-7 {
  height: 2px;
  background-color: #e7d3ac;
  border-width: 0;
  margin-top: 6px;
}
.fui-tip-simple .fui-l-b,
.fui-tip-simple .fui-l-t {
  left: -7px;
}
.fui-tip-simple .fui-l-b .fui-a-7,
.fui-tip-simple .fui-l-t .fui-a-7 {
  height: 12px;
}
.fui-tip-simple .fui-l-b .fui-a-6,
.fui-tip-simple .fui-l-t .fui-a-6 {
  height: 10px;
  margin-top: 1px;
}
.fui-tip-simple .fui-l-b .fui-a-5,
.fui-tip-simple .fui-l-t .fui-a-5 {
  height: 8px;
  margin-top: 2px;
}
.fui-tip-simple .fui-l-b .fui-a-4,
.fui-tip-simple .fui-l-t .fui-a-4 {
  height: 6px;
  margin-top: 3px;
}
.fui-tip-simple .fui-l-b .fui-a-3,
.fui-tip-simple .fui-l-t .fui-a-3 {
  height: 4px;
  margin-top: 4px;
}
.fui-tip-simple .fui-l-b .fui-a-2,
.fui-tip-simple .fui-l-t .fui-a-2 {
  height: 2px;
  margin-top: 5px;
}
.fui-tip-simple .fui-l-b .fui-a-1,
.fui-tip-simple .fui-l-t .fui-a-1 {
  height: 2px;
  background-color: #e7d3ac;
  border-width: 0;
  margin-top: 6px;
}
.fui-tip-simple .fui-r-b,
.fui-tip-simple .fui-l-b {
  top: auto;
  bottom: 8px;
}
.fui-tip-inline {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  height: 18px;
  color: #444444;
  vertical-align: middle;
}
.fui-tip-inline .fui-ico-serious,
.fui-tip-inline .fui-ico-success,
.fui-tip-inline .fui-ico-general {
  display: inline-block;
  width: 12px;
  height: 18px;
  overflow: hidden;
  margin: 0 6px 0 0;
  background-position: -40px -112px;
  vertical-align: middle;
}
.fui-tip-inline .fui-ico-success {
  background-position: -100px -112px;
}
.fui-tip-inline .fui-ico-general {
  background-position: -40px -172px;
}
.fui-tip-light {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
.fui-tip-light .fui-t-l i,
.fui-tip-light .fui-t-r i,
.fui-tip-light .fui-b-r i,
.fui-tip-light .fui-b-l i {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  border-width: 0 1px;
}
.fui-tip-light .fui-r-t i,
.fui-tip-light .fui-r-b i,
.fui-tip-light .fui-l-b i,
.fui-tip-light .fui-l-t i {
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
  border-width: 1px 0;
}
.fui-tip-inline-warning {
  color: #e42a2a;
}
/**
* @file fui-title.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-04-26
*/
.fui-page-title {
  height: 32px;
  padding: 0 12px;
  background-color: #f3f5f7;
  margin-bottom: 12px;
}
.fui-page-title .fui-title {
  float: left;
  display: inline;
  line-height: 32px;
  font-size: 14px;
  color: #444;
  font-weight: bold;
}
.fui-page-title .fui-lnk {
  float: right;
  display: inline;
  margin-top: 7px;
}
.fui-page-title-simple {
  background-color: transparent;
  padding: 0 12px 0 0;
  margin-bottom: 4px;
}
.fui-page-title-simple i {
  float: left;
  display: inline;
  width: 5px;
  height: 16px;
  background-color: #4d6da1;
  overflow: hidden;
  margin: 8px 7px 0 0;
}
