/**
* @file fui-calendar.less
* @brief
* @author terence.wangt@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-07
*/
.ui-datepicker-multi1 {
  width: 179px !important;
}
.ui-datepicker-multi2 {
  width: 380px !important;
  _width: 373px;
}
.ui-datepicker-multi3 {
  width: 568px !important;
  _width: 560px;
}
.ui-datepicker {
  background: #F0F0F0 !important;
  height: auto;
  border: 1px solid #c8c8c8;
  font-size: 12px;
  font-family: Tahoma;
  box-shadow: 0 0 0;
}
.ui-datepicker .box {
  margin: 4px;
  _margin: 4px 2px;
  height: auto;
  width: auto;
  float: left;
  *padding-bottom: 5px;
  _padding-bottom: 3px;
  position: relative;
}
.ui-datepicker .hd {
  background-image: none;
  width: 171px;
  height: 24px;
  background-color: #5f8acf;
  position: relative;
}
.ui-datepicker .prev {
  overflow: hidden;
  text-indent: -100em;
  background: url('http://img.china.alibaba.com/cms/upload/work/dpl/work-dpl.png') no-repeat -20px 3px;
  height: 1;
  width: 10px;
  float: left;
  position: absolute;
  left: 3px;
  top: 3px;
  font-size: 10px;
  text-decoration: none;
  color: white;
}
.ui-datepicker .next {
  overflow: hidden;
  text-indent: -100em;
  background: url('http://img.china.alibaba.com/cms/upload/work/dpl/work-dpl.png') no-repeat -42px 3px;
  height: 1;
  width: 10px;
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 10px;
  text-decoration: none;
  color: white;
}
.ui-datepicker .title,
.ui-datepicker .title:link,
.ui-datepicker .title:visited {
  color: white;
  text-decoration: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 77px;
  height: 17px;
  line-height: 17px;
  display: block;
  top: 3px;
  text-align: center;
  font-weight: bold;
}
.ui-datepicker .title:hover {
  border: 1px solid #fff;
  top: 2px;
  color: #fff;
  background-image: none;
}
.ui-datepicker .bd {
  width: 171px;
}
.ui-datepicker .whd {
  width: auto;
  height: 19px;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-top: 4px;
  *padding-left: 2px;
  *width: 179px;
  padding-left: 2px;
}
.ui-datepicker .whd span {
  float: left;
  width: 23.6px;
  text-align: center;
  line-height: 19px;
}
.ui-datepicker .whd span,
.ui-datepicker x:-moz-any-link {
  width: 25px;
}
.ui-datepicker .whd span,
.ui-datepicker x:-moz-any-link,
.ui-datepicker x:default {
  width: 23.6px;
}
.ui-datepicker .dbd {
  width: 166px;
  height: auto;
  background-color: white;
  margin: 4px 0 0 2px;
  *padding-left: 2px;
  *width: 163px;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
}
.ui-datepicker .dbd a,
.ui-datepicker .dbd a:link,
.ui-datepicker .dbd a:visited {
  color: #444;
  float: left;
  width: 22.5px;
  text-align: center;
  line-height: 22px;
  text-decoration: none;
  font-weight: bold;
  border-left: 1px solid #C8C8C8;
  border-bottom: 1px solid #c8c8c8;
}
.ui-datepicker .dbd a:hover {
  background-color: transparent;
  color: #ff7300;
}
.ui-datepicker .dbd a,
.ui-datepicker x:-moz-any-link {
  width: 25px;
}
.ui-datepicker .dbd a:link,
.ui-datepicker x:-moz-any-link {
  width: 25px;
}
.ui-datepicker .dbd a:visited,
.ui-datepicker x:-moz-any-link {
  width: 25px;
}
.ui-datepicker .dbd a,
.ui-datepicker .dbd a:link,
.ui-datepicker .dbd a:visited,
.ui-datepicker x:-moz-any-link,
.ui-datepicker x:default {
  width: 22.5px;
}
.ui-datepicker a.null,
.ui-datepicker a.null:link,
.ui-datepicker a.null:visited {
  background-color: #fff;
  color: #fff;
  cursor: default;
}
.ui-datepicker a.today,
.ui-datepicker a.today:link,
.ui-datepicker a.today:visited {
  color: #ff7300;
  font-weight: bold;
}
.ui-datepicker a.selected,
.ui-datepicker a.selected:link,
.ui-datepicker a.selected:visited {
  background-color: #cce7ff;
}
.ui-datepicker a.disabled,
.ui-datepicker a.disabled:link,
.ui-datepicker a.disabled:visited {
  color: #8c8c8c;
  cursor: default;
  background-color: white;
}
.ui-datepicker a.range,
.ui-datepicker a.range:link,
.ui-datepicker a.range:visited {
  background-color: #cce7ff;
}
.ui-datepicker .ft {
  text-align: center;
  width: 181px;
}
.ui-datepicker .ft .ok,
.ui-datepicker .ft .clear {
  width: 36px;
  text-align: center;
}
.ui-datepicker .time {
  background-color: #e5e5e5;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 1px 10px 1px 0;
  width: 98px;
  position: relative;
  *top: -2px;
  _top: -1px;
}
.ui-datepicker .time .cta {
  width: 13px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0;
}
.ui-datepicker .time button {
  width: 16px;
  height: 10px;
  border: 0;
  overflow: hidden;
  background: url("http://img.china.alibaba.com/cms/upload/2011/928/020/20829_548721671.gif") no-repeat;
  cursor: pointer;
}
.ui-datepicker .time button.u {
  background-position: 0 0;
}
.ui-datepicker .time button.d {
  background-position: -16px 0;
}
.ui-datepicker .time span {
  cursor: pointer;
}
.ui-datepicker .time span.on {
  padding: 0 1px;
  background-color: #333;
  color: white;
}
.ui-datepicker .setime {
  position: absolute;
  left: 2px;
  top: 28px;
  right: 0px;
  width: 165px;
  background: #f2f2f2;
  border: 1px solid #9bc0e0;
  vertical-align: middle;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ui-datepicker .setime p {
  height: 30px;
  margin: 0;
  padding: 0 0 0 30px;
}
.ui-datepicker .setime select {
  width: 90px;
  margin-left: 2px;
}
.ui-datepicker .setime input {
  width: 84px;
  margin-left: 2px;
}
.ui-datepicker .selectime {
  position: absolute;
  left: 0px;
  bottom: 28px;
  *bottom: 32px;
  right: 0px;
  width: 180px;
  background: #f2f2f2;
  border: 1px solid #9bc0e0;
  text-align: center;
  vertical-align: middle;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ui-datepicker .selectime a,
.ui-datepicker .selectime a:link,
.ui-datepicker .selectime a:visited {
  margin-left: 10px;
  display: inline-block;
  *display: inline;
  float: left;
  text-decoration: none;
  color: #004499;
}
.ui-datepicker .selectime a:hover {
  text-decoration: underline;
}
.ui-datepicker a.x {
  position: absolute;
  right: 3px;
  bottom: 2px;
  font-weight: bold;
  font-family: "comic Sans MS";
}
.ui-datepicker .selectime select,
.ui-datepicker .selectime input {
  width: 80px;
}
.ui-datepicker .ok {
  margin-left: 14px;
}
.ui-datepicker .cancel {
  margin-left: 2px;
}
