/**
* @file fui-icon.less
* @brief
* @author terence.wangt@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-07
*/
.fui-ico-ww-online,
.fui-ico-ww-phone,
.fui-ico-ww-off,
.fui-ico-ww-online-s,
.fui-ico-ww-phone-s,
.fui-ico-ww-off-s,
a.alitalk,
.fui-end {
  background: transparent url(http://img.china.alibaba.com/cms/upload/search/common/20120724/alitalk.gif) no-repeat 0 0;
  display: inline-block;
}
.fui-ico-cxt39x16,
.fui-ico-cxt16x16,
.fui-ico-truePrice,
.fui-ico-trueDes,
.fui-ico-trueLocation,
.fui-ico-payEnsure,
.fui-ico-pay7,
.fui-ico-payGuarantee,
.fui-ico-goldSupplier,
.fui-ico-goldBuyer,
.fui-ico-silverBuyer,
.fui-ico-alipay,
.fui-ico-etc,
.fui-ico-bank,
.fui-ico-xjd,
.fui-ico-video,
.fui-ico-ping,
.fui-ico-callme,
.fui-ico-callmeSmall,
.fui-ico-king,
.fui-ico-price,
.fui-ico-mixWholeSale,
.fui-ico-tradeMedal,
.fui-ico-processing,
.fui-ico-brand,
.fui-ico-discount,
.fui-ico-ensureCard,
.fui-ico-vipSale,
.fui-ico-winport,
.fui-ico-delayPay,
.fui-ico-orderList,
.fui-ico-secret,
.fui-ico-unsecret,
.fui-ico-supplyerLevel-1,
.fui-ico-supplyerLevel-2,
.fui-ico-supplyerLevel-3,
.fui-ico-buyerLevel-1,
.fui-ico-buyerLevel-2,
.fui-ico-buyerLevel-3,
.fui-ico-mobileOrder,
.fui-ico-stepPay,
.fui-end {
  background: transparent url(http://img.china.alibaba.com/cms/upload/search/common/20130524/icon.png) no-repeat 0 0;
  display: inline-block;
  height: 18px;
  width: 18px;
  line-height: 18px;
  vertical-align: middle;
  overflow: hidden;
}
/*�ۿ�*/
.fui-ico-discount {
  background-position: 0 -940px;
  width: 30px;
}
/*���Ͽ�*/
.fui-ico-ensureCard {
  background-position: 0 -961px;
  width: 54px;
}
/*vip����*/
.fui-ico-vipSale {
  background-position: 0 -983px;
  width: 56px;
}
/*����*/
.fui-ico-winport {
  background-position: 0 -1006px;
}
/*�񵽸���*/
.fui-ico-delayPay {
  background-position: 0 -1028px;
}
/*������*/
.fui-ico-orderList {
  background-position: 0 -1049px;
}
/*����*/
.fui-ico-secret {
  background-position: 0 -1071px;
}
/*����*/
.fui-ico-unsecret {
  background-position: 0 -1093px;
}
/*��Ӧ�̵ȼ�1*/
.fui-ico-supplyerLevel-1 {
  background-position: 0 -1115px;
}
/*��Ӧ�̵ȼ�2*/
.fui-ico-supplyerLevel-2 {
  background-position: 0 -1139px;
  width: 22px;
}
/*��Ӧ�̵ȼ�3*/
.fui-ico-supplyerLevel-3 {
  background-position: 0 -1161px;
}
/*�ɹ��̵ȼ�1*/
.fui-ico-buyerLevel-1 {
  background-position: 0 -1183px;
}
/*�ɹ��̵ȼ�2*/
.fui-ico-buyerLevel-2 {
  background-position: 0 -1206px;
  width: 22px;
}
/*�ɹ��̵ȼ�3*/
.fui-ico-buyerLevel-3 {
  background-position: 0 -1228px;
}
/*�ֻ�����*/
.fui-ico-mobileOrder {
  background-position: 0 -1248px;
  width: 48px;
}
/*�ֽ׶θ���*/
.fui-ico-stepPay {
  background-position: 0 -1272px;
  width: 56px;
}
.fui-ico-ww-online,
.fui-ico-ww-phone,
.fui-ico-ww-off,
.fui-ico-xjd,
.fui-ico-callme,
.fui-end {
  width: 72px;
  height: 18px;
}
.fui-ico-ww-online-s,
.fui-ico-ww-phone-s,
.fui-ico-ww-off-s,
.fui-end {
  width: 16px;
  height: 18px;
}
/* ���� */
.fui-ico-ww-online {
  background-position: 0 0;
}
.fui-ico-ww-online:hover {
  background-position: 0 -20px;
}
.fui-ico-ww-phone {
  background-position: 0px -40px;
}
.fui-ico-ww-phone:hover {
  background-position: 0px -60px;
}
.fui-ico-ww-off {
  background-position: 0 -80px;
}
.fui-ico-ww-online-s,
a.alitalk-on {
  background-position: 0 -100px;
}
.fui-ico-ww-phone-s,
a.alitalk-mb {
  background-position: 0 -120px;
}
.fui-ico-ww-off-s,
a.alitalk-off {
  background-position: 0 -140px;
}
/* ���� ͼ�� */
.fui-ico-king {
  width: 45px;
  background-position: 0 -585px;
}
/* 2013�°�����ͨ */
.fui-ico-cxt39x16 {
  width: 39px;
  background-position: 0 -153px;
}
.fui-ico-cxt16x16 {
  background-position: 0 -122px;
}
.fui-ico-cxt16x16 em {
  font-weight: 700;
  color: #c00;
}
/* ��ʵ���� */
.fui-ico-truePrice {
  background-position: 0 1px;
}
/* ��ʵ����  */
.fui-ico-trueDes {
  background-position: 0 -259px;
}
/* ʵ����֤  */
.fui-ico-trueLocation {
  background-position: 0 -431px;
}
/* ����� */
.fui-ico-payEnsure {
  background-position: 0 -406px;
}
/* �����⸶ */
.fui-ico-pay7 {
  background-position: 0 -100px;
}
/* ���Ͻ� */
.fui-ico-payGuarantee {
  background-position: 0 -80px;
}
/* ���ƹ�Ӧ�� */
.fui-ico-goldSupplier {
  background-position: 0 -889px;
}
/* ���Ʋɹ��� */
.fui-ico-goldBuyer {
  background-position: 0 -916px;
}
/* ���Ʋɹ��� */
.fui-ico-silverBuyer {
  background-position: 0 -863px;
}
/* ֧���� */
.fui-ico-alipay {
  background-position: 0 -21px;
}
/* ����֧�� */
.fui-ico-etc {
  background-position: 0 -40px;
}
/* ���� */
.fui-ico-bank {
  background-position: 0 -458px;
}
/* ��ҵ��Ƶ */
.fui-ico-video {
  background-position: 0 -485px;
}
/* Ʒ����ҵ */
.fui-ico-ping {
  background-position: 0 -535px;
}
/* ���ѵ绰�����ְ�  */
.fui-ico-callmeSmall {
  background-position: 0 -557px;
}
.fui-ico-callmeSmall:hover {
  background-position: 0 -508px;
}
/* ���ѵ绰�����ְ�  */
.fui-ico-callme {
  background-position: 0 -320px;
}
.fui-ico-callme:hover {
  background-position: 0 -340px;
}
.callme-on {
  display: inline-block !important;
}
/* ѯ�۵�*/
.fui-ico-xjd {
  background-position: 0 -360px;
}
.fui-ico-xjd:hover {
  background-position: 0 -383px;
}
/* �۸���ʶ */
.fui-ico-price {
  background-position: 0 -633px;
}
/*������ʶ*/
.fui-ico-mixWholeSale {
  background-position: 0 -659px;
  width: 38px;
}
/*�ӹ���ʶ*/
.fui-ico-processing {
  background-position: 0 -812px;
  height: 15px;
  width: 45px;
}
/*Ʒ���̳�*/
.fui-ico-brand {
  background-position: 0 -835px;
  height: 16px;
  width: 52px;
}
/*����ѫ��*/
.fui-ico-tradeMedal {
  height: 18px;
  background-position: 0 -681px;
}
.fui-ico-tradeMedal:hover {
  text-decoration: none;
}
.fui-ico-tradeMedal-medalLevel1 {
  width: 16px;
}
.fui-ico-tradeMedal-medalLevel2 {
  width: 35px;
}
.fui-ico-tradeMedal-medalLevel3 {
  width: 54px;
}
.fui-ico-tradeMedal-medalLevel4 {
  width: 72px;
}
.fui-ico-tradeMedal-medalLevel5 {
  width: 90px;
}
