/**
* @file fui-icon.less
* @brief
* @author terence.wangt@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-07
*/

.fui-ico-ww-online,		/** 带文字旺旺在线 **/
.fui-ico-ww-phone,		/** 带文字旺旺手机在线 **/
.fui-ico-ww-off,		/** 带文字旺旺下线 **/
.fui-ico-ww-online-s,	/** 旺旺在线 **/
.fui-ico-ww-phone-s,	/** 旺旺手机在线 **/
.fui-ico-ww-off-s,		/** 旺旺下线 **/
.fui-end{
	background:@fuiAlitalkSpriteUrl;
	display:inline-block;
}


.fui-ico-cxt39x16,    /* 2013新诚信通标     */
.fui-ico-cxt16x16,    /* 2013新诚信通标     */
.fui-ico-truePrice,	  /* 如实报价     */
.fui-ico-trueDes,	  /* 如实描述     */
.fui-ico-trueLocation,/* 实地认证    */
.fui-ico-payEnsure,   /* 货款保障    */
.fui-ico-pay7,		  /* 七天退款    */
.fui-ico-payGuarantee,/* 买家保障    */
.fui-ico-tmall,		  /* 天猫标识    */
.fui-ico-taobo,		  /* 淘宝标识    */
.fui-ico-personal,	  /* 个人认证    */
.fui-ico-enterprise,  /* 企业认证    */
.fui-ico-rank,  	  /* 排行榜    */
.fui-ico-goldSupplier,/* 金牌供应商 */
.fui-ico-goldBuyer,   /* 金牌采购商 */
.fui-ico-silverBuyer, /* 银牌采购商 */
.fui-ico-alipay,	  /* 支付宝 */
.fui-ico-etc,		  /* 海外支付 */
.fui-ico-bank,		  /* 网银 */
.fui-ico-xjd,		  /* 询价单*/
.fui-ico-video,		  /* 公司视频*/
.fui-ico-ping,		  /* 品牌企业 */
.fui-ico-callme,	  /* 免费电话 */	
.fui-ico-callmeSmall, /* 免费电话无文字版  */
.fui-ico-king,	      /* 标王 */
.fui-ico-price,		  /* 价格图标 */
.fui-ico-mixWholeSale,/* 混批 */
.fui-ico-tradeMedal,  /* 交易勋章  */
.fui-ico-processing,  /*加工标识*/
.fui-ico-brand,		  /*品牌商城*/
.fui-ico-discount,	  /*折扣*/
.fui-ico-ensureCard,  /*保障卡*/
.fui-ico-vipSale, 	  /*vip批发*/
.fui-ico-winport,	  /*旺铺*/
.fui-ico-delayPay,	  /*货到付款*/
.fui-ico-orderList,   /*进货单*/
.fui-ico-secret,  	  /*加密*/
.fui-ico-unsecret, 	  /*解密*/
.fui-ico-supplyerLevel-1,  /*供应商等级1*/
.fui-ico-supplyerLevel-2,  /*供应商等级2*/
.fui-ico-supplyerLevel-3,  /*供应商等级3*/
.fui-ico-buyerLevel-1,  /*采购商等级1*/
.fui-ico-buyerLevel-2,  /*采购商等级2*/
.fui-ico-buyerLevel-3,  /*采购商等级3*/
.fui-ico-mobileOrder,	 /*手机订单*/
.fui-ico-stepPay,	     /*分阶段付款*/
.fui-ico-tradeLevel,  /*交易勋章*/
.fui-end{
	background:@fuiCommonIconSpriteUrl;
	display:inline-block;
	height:18px;
	width: 18px;
	line-height:18px;
	vertical-align:middle;
	overflow:hidden;
}


.fui-ico-ww-online,
.fui-ico-ww-phone,
.fui-ico-ww-off,
.fui-ico-xjd,
.fui-ico-callme,
.fui-end{
	width:72px;
	height:18px;
}

.fui-ico-ww-online-s,
.fui-ico-ww-phone-s,
.fui-ico-ww-off-s,
.fui-end{
	width:16px;
	height:18px;	
}

/* 旺旺 */
.fui-ico-ww-online{
	background-position: 0 0;
}
.fui-ico-ww-online:hover{
	background-position: 0 -20px;
}
.fui-ico-ww-phone{
	background-position:0px -40px; 
}
.fui-ico-ww-phone:hover{
	background-position:0px -60px; 
}
.fui-ico-ww-off{
	background-position:0 -80px; 
}
.fui-ico-ww-online-s, a.alitalk-on{
	background-position:0 -100px; 
}
.fui-ico-ww-phone-s, a.alitalk-mb {
	background-position:0 -120px; 
}
.fui-ico-ww-off-s, a.alitalk-off {
	background-position:0 -140px; 
}

/* 标王 图标 */
.fui-ico-king{
	width:45px;
	background-position:0 -585px;
}

/* 2013新版诚信通 */
.fui-ico-cxt39x16{
	width: 39px;
	background-position:0 -153px;
}
.fui-ico-cxt16x16{
	background-position:0 -122px;
}

.fui-ico-cxt16x16 em{
	font-weight:700;
	color:#c00;
}
/* 真实报价 */
.fui-ico-truePrice{
	background-position: 0 1px;
}
/* 如实描述  */
.fui-ico-trueDes{
    background-position: 0 -259px;
}
/* 实地认证  */
.fui-ico-trueLocation{
    background-position: 0 -431px;
}
/* 货款保障 */
.fui-ico-payEnsure{
	background-position: 0 -406px;
}
/* 七天赔付 */
.fui-ico-pay7{
	background-position: 0 -100px;
}
/* 保障金 */
.fui-ico-payGuarantee{
	background-position:0 -80px;
}
/* 金牌供应商 */
.fui-ico-goldSupplier{
	background-position:0 -889px;
}
/* 金牌采购商 */
.fui-ico-goldBuyer{
	background-position:0 -916px;
}

/* 银牌采购商 */
.fui-ico-silverBuyer{
	background-position:0 -863px;
}

/* 支付宝 */
.fui-ico-alipay{
	background-position:0 -21px;
}
/* 海外支付 */
.fui-ico-etc{
	background-position:0 -40px;
}
/* 网银 */
.fui-ico-bank{
	background-position:0 -458px;
}
/* 企业视频 */
.fui-ico-video{
	background-position:0 -485px;
}
/* 品牌企业 */
.fui-ico-ping{
	background-position:0 -535px;
}
/* 免费电话无文字版  */
.fui-ico-callmeSmall{
	background-position:0 -557px;
}
.fui-ico-callmeSmall:hover{
	background-position:0 -508px;
}

/* 免费电话有文字版  */
.fui-ico-callme{
	background-position:0 -320px;	
}
.fui-ico-callme:hover{
	background-position:0 -340px;
}
.callme-on {
	display:inline-block !important;
}

/* 询价单*/
.fui-ico-xjd {
	background-position:0 -360px;
}
.fui-ico-xjd:hover {
	background-position:0 -383px;
}

/* 价格标识 */
.fui-ico-price{
	background-position:0 -633px;
}

/*混批标识*/
.fui-ico-mixWholeSale{
	background-position:0 -659px;
    width: 38px;	
}
/*加工标识*/
.fui-ico-processing{
	background-position:0 -812px;
    height: 15px;
    width: 45px;
}
/*品牌商城*/
.fui-ico-brand{
	background-position:0 -835px;
    height: 16px;
    width: 52px;
}

/*折扣*/
.fui-ico-discount{
	background-position: 0 -940px;
	width: 30px;	
}

/*保障卡*/
.fui-ico-ensureCard{
	background-position: 0 -961px;
	width:54px;
}

/*vip批发*/
.fui-ico-vipSale{
	background-position: 0 -983px;
	width:56px;
}

/*旺铺*/
.fui-ico-winport{
	background-position: 0 -1006px;	
}

 /*货到付款*/
.fui-ico-delayPay{
	background-position: 0 -1028px;	
}

/*进货单*/
.fui-ico-orderList{
	background-position: 0 -1049px;	
}

/*加密*/
.fui-ico-secret{
	background-position: 0 -1071px;	
}	  

/*解密*/
.fui-ico-unsecret{
	background-position: 0 -1093px;	
}

/*供应商等级1*/
.fui-ico-supplyerLevel-1{
	background-position: 0 -1115px;	
}
/*供应商等级2*/
.fui-ico-supplyerLevel-2{
	background-position: 0 -1139px;
	width: 22px;	
}
/*供应商等级3*/
.fui-ico-supplyerLevel-3{
	background-position: 0 -1161px;		
}

/*采购商等级1*/
.fui-ico-buyerLevel-1{
	background-position: 0 -1183px;	
}
/*采购商等级2*/
.fui-ico-buyerLevel-2{
	background-position: 0 -1206px;
	width: 22px;		
}
/*采购商等级3*/
.fui-ico-buyerLevel-3{
	background-position: 0 -1228px;	
}

/*手机订单*/
.fui-ico-mobileOrder{
	background-position: 0 -1248px;	
	width: 48px;
}
/*分阶段付款*/
.fui-ico-stepPay{
	background-position: 0 -1272px;		
	width: 56px;
}

/* 天猫标识    */
.fui-ico-tmall{
	background-position: 0 -710px;
	width: 23px;
}
/* 淘宝标识    */
.fui-ico-taobo{
	background-position: 0 -735px;
}	  
/* 个人认证    */
.fui-ico-personal{
	background-position: 0 -759px;
	width: 24px;
}	  

/* 企业认证    */
.fui-ico-enterprise{
	background-position: 0 -784px;
	width: 24px;
}  
/* 排行榜    */
.fui-ico-rank{
	background-position: 0 -174px;
} 	  


/*交易勋章*/
.fui-ico-tradeLevel{
	height:18px;
	background-position:0 -681px;
}

.fui-ico-tradeLevel.level-1{
	width:16px;
}
.fui-ico-tradeLevel.level-2{
	width:32px;
}
.fui-ico-tradeLevel.level-3{
	width:48px;
}
.fui-ico-tradeLevel.level-4{
	width:64px;
}
.fui-ico-tradeLevel.level-5{
	width:81px;
}