.fui-sidebar {
  position: fixed;
  _position: absolute;
  right: .5%;
  bottom: 50px;
  z-index: 1000000;
}
.fui-sidebar li {
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  -webkit-transform: translateZ(0);
}
.fui-sidebar a {
  position: absolute;
  display: block;
  text-decoration: none;
  overflow: hidden;
  width: 30px;
  height: 30px;
  right: 0;
  border: 1px solid #fe8101;
  background-color: #ffa405;
  outline: 0;
}
.fui-sidebar a:hover {
  text-decoration: none;
}
.fui-sidebar .fui-advice a,
.fui-sidebar .fui-help a {
  background-color: #fff;
  border-color: #bbb;
  -webkit-transition: border-color 0.5s ease-out, background-color 0.5s ease-out;
  -moz-transition: border-color 0.5s ease-out, background-color 0.5s ease-out;
  -o-transition: border-color 0.5s ease-out, background-color 0.5s ease-out;
  transition: border-color 0.5s ease-out, background-color 0.5s ease-out;
}
.fui-sidebar i {
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  right: 6px;
  background: url(http://img04.taobaocdn.com/tps/i4/T1D91kXr8dXXaEG0o6-112-17.png);
  margin-top: -9px;
}
.fui-sidebar .fui-advice .hover,
.fui-sidebar .fui-help .hover {
  border: 1px solid #fe8101;
  background-color: #ffa405;
}
.fui-sidebar .fui-advice .hover i {
  background-position: -80px 0;
}
.fui-sidebar .fui-help .hover i {
  background-position: -96px -2px;
}
.fui-sidebar li.fui-advice i {
  background-position: -48px 0;
}
.fui-sidebar li.fui-help i {
  background-position: -64px -2px;
  width: 15px;
  right: 8px;
}
.fui-sidebar .fui-bg {
  position: absolute;
  display: block;
  height: 30px;
  line-height: 30px;
  color: #fff;
  right: 17px;
  width: 87px;
  text-align: center;
}
.fui-sidebar .fui-gotop {
  display: none;
  margin-bottom: 8px;
}
.fui-sidebar .fui-show {
  display: block;
}
