/**
* @file fui-form.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-16
*/

.fui-form{
	.clearFloat();
	padding:3px 0;
	.fui-t,.fui-d{
		float: left;
	}
	.fui-t{
		width: 140px;
		text-align: right;
		line-height:20px;
	}
	.fui-t-l{
		line-height:24px;
	}
	.fui-d{
		padding-left: 4px;
	}
	.fui-list{
		float: left;
	}
	.icon-must{
		padding-left: 10px;
		background:url("http://img.china.alibaba.com/cms/upload/2013/308/213/1312803_681975369.png") no-repeat;
		background-position: 0 -457px;
	}
}
.fui-form-radio{
	.fui-radio{
		float: left;
		margin: 2px 4px 0px 0px;
	}
	.fui-radio-label{
		float: left;
		word-break: break-all;
		margin-right: 30px;
	}
}
.fui-form-checkbox{
	.fui-checkbox{
		float: left;
		margin: 3px 4px 0px 0px;
	}
	.fui-checkbox-label{
		float: left;
		word-break: break-all;
		margin-right: 30px;
	}
}
.fui-form-textarea{
	textarea{
		padding:8px;
		border: 1px solid #b7b7b7;
		box-shadow:inset 0 1px 1px #e6e6e6;
		color:#888;
	}
	.fui-word-count{
		float:right;
	}
	.fui-word-have{
		color:@ImportantFontColor;
	}
}
.fui-form-count{
	.d-amount-up,.d-amount-down{
		background-color: #fff;
		border: 1px solid #ccc;
		color: #666;
		display: inline-block;
		float: left;
		height: 12px;
		line-height: 10px;
		margin-top: 5px;
		text-decoration: none;
		width: 12px;
		&:hover{
			color:@ImportantFontColor;
		}
	}
	.d-amount-up{
		width:8px;
		padding:0 2px;
	}
	.d-amount-disable{
		color:#e6e6e6;
		border-color:#e6e6e6;
	}
	.d-count-inputbox{
		display: inline-block;
		float: left;
		width: 72px;
		height: 22px;
		.d-count-input{
			width: 54px;
			height: 20px;
			margin: 0px 4px;
			padding:2px 4px;
			border: 1px solid #b7b7b7;
			text-align: right;
		}
	}
}
.fui-form-count-s{
	.d-amount-up,.d-amount-down{
		margin-top: 4px;
	}
	.d-count-inputbox{
		height:18px;
		.d-count-input{
			height:16px;
		}
	}
}
