/**
* @file fui-paging.less
* @brief 
* @author yefniu, yefei.niuyf@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-02
*/

.fui-paging {
	.clearFloat();
	text-align:left;
	color:#444;
	span{
		*padding-bottom:2px;
	}
	*{
		vertical-align:middle;
		display:inline-block
	}
	.fui-page-list{
		font-size:@pagingFontSize;
		a{
			&:link,&:visited{
				float:left;
				width:@pagingNumWidth;
				height:@pagingNumHeight;
				line-height:@pagingNumHeight;
				overflow:hidden;
				border:solid 1px @pagingBorderColor;
				margin-right:@pagingNumMarginRight;
				color:@pagingNumFontColor;
				text-decoration:none;
				text-align:center;
				border-right:@pagingNumBorderRightWidth solid @pagingBorderColor;
			}
			&:hover{
				border-color:@pagingCurrentBorder;
				color:@pagingNumHoverFontColor;
			}
		}
		.fui-current{
			&:link,&:visited,&:hover{
				border:solid 1px @pagingCurrentBorder;
				background-color:@pagingCurrentBgColor;
				font-weight:bold;
				color:@pagingCurrentFontColor;
				border-right:@pagingCurrentBorderRightWidth;
			}
		}
		.fui-omit{
			float:left;
			height:@pagingNumHeight;
			margin-right:@pagingOmitMarginRight;
			padding:@pagingOmitPadding;
			border-left:@pagingOmitBorderWidth solid @pagingBorderColor;
			border-right:@pagingOmitBorderRightWidth;
		}
		.fui-prev{
			&:link,&:visited{
				width:@pagingPreNextWidth;
				margin-right:@pagingPreMarginRight;
				border-right:1px solid @pagingBorderColor;
				.fui-txt{
					float:left;
					display:inline;
					height:18px;
					margin:0 4px 0 6px;
					cursor:pointer;
				}
			}
		}
		.fui-prev-disabled{
			&:link,&:visited,&:hover{
				border-color:@pagingBorderColor;
				.fui-txt{
					color:#dcdcdc;
					cursor:default;
				}
			}

		}
		.fui-next{
			&:link,&:visited,&:hover{
				width:@pagingPreNextWidth;
				font-weight:normal;
				border-right:1px solid @pagingBorderColor;
				margin-right:0;
				.fui-txt{
					float:left;
					display:inline;
					height:18px;
					margin:0 4px 0 6px;
					cursor:pointer;
				}
			}
		}
		.fui-next-disabled{
			&:link,&:visited,&:hover{
				border-color:@pagingBorderColor;
				margin-right:0;
				.fui-txt{
					color:#dcdcdc;
					cursor:default;
				}
			}
		}
	}
	.fui-paging-total{
		padding:2px 0;
		margin-right:0;
	}
	.fui-number{
		span{
			padding:2px 0;
			vertical-align:middle;
			*padding:4px 0 0;
		}
		input{
			width:32px;
		}
	}
	.fui-paging-total,.fui-number,.fui-forward{
		margin-left:@pagingOtherMarginLeft;
	}
}

