/**
* @file dpl-btn.less
* @brief 
* @author terence, terence.wangt@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-03
*/
/**
* @file dpl-variable.less
* @brief 
* @author terence, terence.wangt@alibaba-inc.com
* @version 1.0.0
* @date 2013-05-03
*/
/* box */
/* btn */
/* dialog */
/* path */
/* process */
/* tab */
/* text */
/* tip */
/* title */
/* common */
.dpl-btn,
.dpl-btn-action,
.dpl-btn-important,
.dpl-btn-hint,
.dpl-btn-disabled {
  display: inline-block;
  border: 1px solid #b3b3b3;
  border-bottom-color: #9a9a9a;
  padding: 3px 13px;
  color: #444444;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -ms-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: -o-linear-gradient(top, #fcfcfc, #e4e4e4);
  background-image: linear-gradient(top, #fcfcfc, #e4e4e4);
  border-radius: 3px;
  *padding: 0 12px;
  *height: 26px;
}
.dpl-btn-s {
  padding: 1px 9px;
  border-radius: 2px;
  *padding: 0 8px;
  *height: 22px;
  *margin-top: 1px;
}
.dpl-btn-l {
  padding: 4px 19px 5px;
  font-size: 14px;
  font-weight: bold;
  *padding: 0 18px;
  *height: 32px;
}
.dpl-btn-h {
  padding: 6px 19px 5px;
  font-size: 14px;
  font-weight: bold;
  *padding: 0 18px;
  *height: 36px;
}
.dpl-btn:hover {
  color: #444444;
  text-decoration: none;
  background-color: #dbdbdb;
  background-image: -moz-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -ms-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#cfcfcf));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: -o-linear-gradient(top, #e6e6e6, #cfcfcf);
  background-image: linear-gradient(top, #e6e6e6, #cfcfcf);
}
.dpl-btn:active {
  color: #505050;
  text-decoration: none;
  background-color: #d5d5d5;
  background-image: -moz-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -ms-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cecece), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #cecece, #dcdcdc);
  background-image: -o-linear-gradient(top, #cecece, #dcdcdc);
  background-image: linear-gradient(top, #cecece, #dcdcdc);
}
.dpl-btn-action {
  border: solid 1px #2590ea;
  border-bottom-color: #2590ea;
  color: #ffffff;
  background-color: #3196e6;
  background-image: -moz-linear-gradient(top, #3099eb, #3192e1);
  background-image: -ms-linear-gradient(top, #3099eb, #3192e1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3099eb), to(#3192e1));
  background-image: -webkit-linear-gradient(top, #3099eb, #3192e1);
  background-image: -o-linear-gradient(top, #3099eb, #3192e1);
  background-image: linear-gradient(top, #3099eb, #3192e1);
}
.dpl-btn-action:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #2a8fdd;
  background-image: -moz-linear-gradient(top, #2b91e1, #288cd9);
  background-image: -ms-linear-gradient(top, #2b91e1, #288cd9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2b91e1), to(#288cd9));
  background-image: -webkit-linear-gradient(top, #2b91e1, #288cd9);
  background-image: -o-linear-gradient(top, #2b91e1, #288cd9);
  background-image: linear-gradient(top, #2b91e1, #288cd9);
}
.dpl-btn-action:active {
  background-color: #2a8fdd;
  background-image: -moz-linear-gradient(top, #288cd9, #2b91e1);
  background-image: -ms-linear-gradient(top, #288cd9, #2b91e1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#288cd9), to(#2b91e1));
  background-image: -webkit-linear-gradient(top, #288cd9, #2b91e1);
  background-image: -o-linear-gradient(top, #288cd9, #2b91e1);
  background-image: linear-gradient(top, #288cd9, #2b91e1);
}
.dpl-btn-important {
  border: solid 1px #ff5400;
  border-bottom-color: #ff5400;
  color: #ffffff;
  font-weight: bold;
  background-color: #ff7100;
  background-image: -moz-linear-gradient(top, #ff7900, #ff6900);
  background-image: -ms-linear-gradient(top, #ff7900, #ff6900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7900), to(#ff6900));
  background-image: -webkit-linear-gradient(top, #ff7900, #ff6900);
  background-image: -o-linear-gradient(top, #ff7900, #ff6900);
  background-image: linear-gradient(top, #ff7900, #ff6900);
}
.dpl-btn-important:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #f76305;
  background-image: -moz-linear-gradient(top, #fd6901, #f15d08);
  background-image: -ms-linear-gradient(top, #fd6901, #f15d08);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fd6901), to(#f15d08));
  background-image: -webkit-linear-gradient(top, #fd6901, #f15d08);
  background-image: -o-linear-gradient(top, #fd6901, #f15d08);
  background-image: linear-gradient(top, #fd6901, #f15d08);
}
.dpl-btn-important:active {
  background-color: #f76205;
  background-image: -moz-linear-gradient(top, #f15c08, #fd6801);
  background-image: -ms-linear-gradient(top, #f15c08, #fd6801);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f15c08), to(#fd6801));
  background-image: -webkit-linear-gradient(top, #f15c08, #fd6801);
  background-image: -o-linear-gradient(top, #f15c08, #fd6801);
  background-image: linear-gradient(top, #f15c08, #fd6801);
}
.dpl-btn-hint {
  border: solid 1px #f7bf4f;
  border-bottom-color: #f7bf4f;
  color: #aa5500;
  font-weight: bold;
  background-color: #feedad;
  background-image: -moz-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -ms-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff1b7), to(#fde9a3));
  background-image: -webkit-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: -o-linear-gradient(top, #fff1b7, #fde9a3);
  background-image: linear-gradient(top, #fff1b7, #fde9a3);
}
.dpl-btn-hint:hover {
  color: #aa5500;
  text-decoration: none;
  background-color: #ffe69d;
  background-image: -moz-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -ms-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffeaa7), to(#ffe292));
  background-image: -webkit-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: -o-linear-gradient(top, #ffeaa7, #ffe292);
  background-image: linear-gradient(top, #ffeaa7, #ffe292);
}
.dpl-btn-hint:active {
  background-color: #ffe69c;
  background-image: -moz-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -ms-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe191), to(#ffeaa7));
  background-image: -webkit-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: -o-linear-gradient(top, #ffe191, #ffeaa7);
  background-image: linear-gradient(top, #ffe191, #ffeaa7);
}
.dpl-btn-disabled,
.dpl-btn-disabled:hover,
.dpl-btn-disabled:active {
  border: solid 1px #dddddd;
  border-bottom-color: #d3d3d3;
  color: #c8c8c8;
  text-decoration: none;
  cursor: default;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f7f7f7));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
  background-image: linear-gradient(top, #fcfcfc, #f7f7f7);
}
/* botton group*/
.dpl-btn-group {
  height: 26px;
}
.dpl-btn-group .dpl-btn {
  float: left;
  display: inline;
  border-width: 1px 1px 1px 0;
  border-radius: 0;
  *border-width: 1px;
}
.dpl-btn-group .dpl-btn-first {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}
.dpl-btn-group .dpl-btn-last {
  border-radius: 0 3px 3px 0;
}
.dpl-btn-group .dpl-btn-select {
  background-color: #d2d2d2;
  background-image: -moz-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -ms-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfdfdf), to(#c5c5c5));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: -o-linear-gradient(top, #dfdfdf, #c5c5c5);
  background-image: linear-gradient(top, #dfdfdf, #c5c5c5);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
a.dpl-btn,
a.dpl-btn-action,
a.dpl-btn-important,
a.dpl-btn-hint,
a.dpl-btn-disabled {
  padding: 3px 13px;
  height: 18px;
}
a.dpl-btn-s {
  padding: 1px 9px;
  height: 18px;
}
a.dpl-btn-l {
  padding: 4px 19px;
  height: 22px;
}
a.dpl-btn-h {
  padding: 6px 19px;
  height: 22px;
}
.dpl-btn-img {
  padding: 1px 7px 1px 6px;
  *padding: 1px 6px 1px 5px;
}
a.dpl-btn-img {
  padding: 1px 7px 1px 6px;
}
.dpl-btn-notxt {
  padding: 1px 2px;
  border-radius: 0 2px 2px 0;
  *padding: 1px 0;
  *height: 22px;
  overflow: hidden;
}
a.dpl-btn-notxt {
  padding: 1px 2px;
}
.dpl-btn-img .dpl-ico-search,
.dpl-btn-action .dpl-ico-search,
.dpl-btn-notxt .dpl-ico-search {
  display: inline-block;
  background-position: -120px -20px;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  overflow: hidden;
  vertical-align: bottom;
  *vertical-align: middle;
}
.dpl-btn-action .dpl-ico-search {
  background-position: -120px 0;
}
.dpl-btn-notxt .dpl-ico-search {
  margin-right: 0;
}
