/* background */
.dpl-path .dpl-c .dpl-arrow,
.dpl-path-simple .dpl-c .dpl-arrow,
.dpl-dialog .dpl-t .dpl-close,
.dpl-paging .dpl-prev .dpl-ico,
.dpl-paging .dpl-next .dpl-ico,
.dpl-btn-img .dpl-ico-search,
.dpl-btn-notxt .dpl-ico-search,
.dpl-text-calendar,
.dpl-tip .dpl-tip-row-close,
.dpl-tip .dpl-ico-speaker,
.dpl-tip .dpl-ico-bubble,
.dpl-tip-block .dpl-ico-serious,
.dpl-tip-block .dpl-ico-success,
.dpl-tip-block .dpl-ico-general,
.dpl-tip-block .dpl-ico-doubt,
.dpl-tip-simple .dpl-d .dpl-ico-bulb,
.dpl-tip-inline .dpl-ico-serious,
.dpl-tip-inline .dpl-ico-success,
.dpl-tip-inline .dpl-ico-general,
.dpl-process .dpl-c-w,
.dpl-process .dpl-f-c,
.dpl-process .dpl-w-w,
.dpl-process .dpl-f-f,
.dpl-dialog .dpl-d .dpl-ico-serious,
.dpl-dialog .dpl-d .dpl-ico-success,
.dpl-dialog .dpl-d .dpl-ico-general,
.dpl-dialog .dpl-d .dpl-ico-doubt {
  background: url("http://img.china.alibaba.com/cms/upload/2012/277/204/402772_1921578814.png") no-repeat;
}
.dpl-loading .dpl-ico {
  background: url("http://img.china.alibaba.com/cms/upload/work/dpl/loading-w24.gif") no-repeat;
}
.dpl-loading-part .dpl-ico {
  background: url("http://img.china.alibaba.com/cms/upload/work/dpl/loading-w16.gif") no-repeat;
}
.dpl-lnk:link,
.dpl-lnk:visited {
  color: #369;
}
.dpl-lnk:hover {
  color: #ff7300;
}
